<template>
  <component :is="layout">
    <base-card min-height="400">
      <v-card-title>
        {{ tableTitle }}
        <v-divider class="mx-4" vertical></v-divider>
        <v-spacer></v-spacer>
      </v-card-title>
      <base-data-table
        v-if="list"
        :items="list"
        :server-items-length="serverItemsLength"
        :headers="headers"
        :loading="loading"
        :options="options"
        :isLoadedData="isLoadedData"
        @change-load-data="changeLoadData"
        @get-data="getData"
        class="ma-4"
      >
        <template v-slot:item.pictureUrl="{ item }">
          <div class="image-product-wrap ma-2 d-flex align-center">
            <img :src="item.pictureUrl" :alt="item.name" class="image-product">
          </div>
        </template>
        <template v-slot:item.price="{ item }">
          {{ item.price }} đ
        </template>
        <template v-slot:item.actions="{ item }">
          <show-btn
            :resource="lastSegmentURL($route.path)"
            :resourceId="item.id"
            icon
            dark
            exact
            color="primary"
          />
          <update-btn
            :resource="lastSegmentURL($route.path)"
            :resourceId="item.id"
            icon
            dark
            color="success"
          />
          <remove-btn
            :resource="lastSegmentURL($route.path)"
            icon
            dark
            @click="showRemoveItemDialog(item)"
            color="red"
          />
        </template>
        <template v-slot:no-data>
          <base-btn color="primary" @click="getData">Tải lại</base-btn>
        </template>
      </base-data-table>
      <base-skeleton-loader
        v-else
        type="table-thead, table-tbody, table-tfoot"
        class="my-4"
      />
    </base-card>
  </component>
</template>

<script>
import * as CustomerAPI from '@/apis/customer';
import * as APIProduct from '@/apis/products';
import { mapActions } from 'vuex';
import _ from 'lodash';
import * as LocalStorage from '@/common/localStorage';
import { formatWithTimeZone, numberToMoney } from '@/common/utils';

export default {
  name: 'ProductList',

  title() {
    return this.__(':resource list', { resource: this.__('product') });
  },

  data() {
    return {
      layout: 'default-layout',
      tableTitle: this.__(':resource list', { resource: this.__('product') }),
      headers: [
        {
          text: 'ID',
          value: 'id',
        },
        {
          text: this.__(':resource image', { resource: this.__('product') }),
          value: 'pictureUrl'
        },
        {
          text: this.__(':resource name', { resource: this.__('product') }),
          value: 'name'
        },
        {
          text: this.__(':resource price', { resource: this.__('product') }),
          value: 'price'
        },
        {
          text: this.__(':resource name', { resource: this.__('brand') }),
          value: 'productBrand'
        },
        {
          text: this.__(':resource name', { resource: this.__('type') }),
          value: 'productType'
        },
        {
          text: this.__('Created date'),
          value: 'created'
        },
        {
          text: this.__('Updated date'),
          value: 'updated'
        }
      ],
      list: null,
      serverItemsLength: 0,
      options: {
        page: 1,
        itemsPerPage: 15
      },
      loading: false,
      isLoadedData: false,

      // upload file
      myInterval: undefined,
      listFileID: [],
      fileLoadingBtn: false,

      // dialog
      dialog: false,
      rmItems: []
    };
  },

  computed: {},

  watch: {},

  mounted() {
    // start loading
    this.loading = true;
    this.isLoadedData = true;

    this.options.itemsPerPage = LocalStorage.getPerPageToken();

    // get data from api
    this.listDataAPI();
  },

  methods: {
    ...mapActions({
      successNotification: 'notification/success',
      errorNotification: 'notification/error',
    }),

    changeLoadData(status) {
      this.isLoadedData = status;
    },

    getData(pagination) {
      // start loading
      this.loading = true;
      const {
        page,
        itemsPerPage,
        sortBy,
        sortDesc
      } = pagination;
      this.options = {
        page,
        itemsPerPage,
        sortBy,
        sortDesc
      };
      // get data from api
      this.listDataAPI();
    },

    listDataAPI() {
      APIProduct.list(this.options)
        .then(response => {
          // turn of loading
          this.loading = false;
          this.fileLoadingBtn = false;
          // set data
          this.list = this.preProcessData(response.data.data);
          this.serverItemsLength = response.data.meta?.total;
        })
        .catch(() => {
          // turn of loading
          this.loading = false;
        });
    },

    preProcessData(data) {
      return data.map((item) => ({
        ...item,
        price: numberToMoney(item.price) || '-',
        created: formatWithTimeZone(item.created) || '-',
        updated: formatWithTimeZone(item.updated) || '-'
      }));
    },

    showRemoveItemDialog(item) {
      // show dialog
      this.dialog = true;

      // store item will remove
      // this.rmItems.push(item);
      this.rmItems = [item];
    },

    removeItem() {
      // turn of dialog
      this.dialog = false;

      const newItems = this.list;
      // remove item from list
      this.rmItems.forEach(rmItem => {
        // find index of remove item
        const indexOfRmItem = _.findKey(this.list, { id: rmItem.id });
        // remove
        newItems.splice(indexOfRmItem, 1);

        // call api
        CustomerAPI.remove(rmItem.id)
          .then(() => {
            this.successNotification({
              message: this.__('Delete :resource successfully!', { resource: this.__('partner') })
            });
          })
          .catch(err => {
            this.errorNotification(
              {
                message: `${this.__('Delete :resource failed!', { resource: this.__('partner') })}
                ${err.data.message}`
              }
            );
            // add the remove item into list again
            newItems.splice(indexOfRmItem, 0, rmItem);
          });
      });

      // set data
      if (this.list !== newItems) {
        this.list = newItems;
      }
      // clear rmItems
      this.rmItems = [];
    }
  }
};
</script>

<style scoped lang="scss">
.image-product-wrap {
  width: 80px;
  height: 80px;
  overflow: hidden;

  .image-product {
    width: 100%;
    height: auto;
  }
}
</style>
