<template>
  <v-card flat class="the-bottom-navbar  ">
    <v-toolbar
      color="white"
      tile
      height="46px"
      elevation="0"
      flat
      class="bg-toolbar"
    >
    </v-toolbar>
    <v-container class="py-0">
      <v-card
        tile
        class="mx-auto"
        style="margin-top: -46px;"
        elevation="0"
      >
        <v-toolbar
          flat
          height="46px"
          color="white"
          class="d-flex justify-center"
        >
          <base-menu
            :open-on-hover="true"
            :nudgeBottom=0
            v-for="(item, index) in menus"
            :key="index"
          >
            <template v-slot:activator="{ on }">
              <span class="py-2" v-on="on">
              <base-btn
                text
                class="text-second-color"
                :to="item.to"
                :exact="item.exact"
              >
                <v-icon
                  v-if="item.icon"
                  left
                  class="mr-2 font-weight-thin"
                  color="primary">
                  {{ item.icon }}
                </v-icon>
                {{ item.title }}
              </base-btn>
                </span>
            </template>

            <v-list
              v-if="item.children"
            >
              <v-list-item
                v-for="(item, index) in item.children"
                :key="index"
                ripple="ripple"
                dense
                :disabled="item.disabled"
                rel="noopener"
                :to="item.to"
                :exact="item.exact"
              >
                <v-list-item-icon v-if="item.icon">
                  <v-icon> {{ item.icon }}</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  {{ item.title }}
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </base-menu>
        </v-toolbar>
      </v-card>
    </v-container>
  </v-card>
</template>

<script>

import { PRODUCTS, PRODUCTS_ADD } from '@/common/Constants/Router';

export default {
  name: 'BottomNavbar',
  props: ['clippedLeft', 'miniVariant', 'title', 'drawer'],
  data() {
    return {
      menus: [
        // {
        //   icon: 'mdi-home-outline',
        //   title: this.__('Dashboard'),
        //   to: { name: 'admin' },
        //   exact: true
        // },
        {
          icon: 'mdi-upload-outline',
          title: this.__(':resource',
            {
              resource: this.__('Product')
            }),
          to: { name: PRODUCTS },
          children: [
            {
              icon: '',
              title: this.__('List'),
              to: { name: PRODUCTS },
              exact: true
            },
            {
              icon: '',
              title: this.__('Add new'),
              to: { name: PRODUCTS_ADD },
              exact: true
            }
          ]
        },
        {
          icon: '',
          title: this.__(':resource',
            {
              resource: this.__('Order')
            }),
          to: { name: 'partners' },
          children: [
            {
              icon: '',
              title: this.__('List'),
              to: { name: 'partners' },
              exact: true
            },
            {
              icon: '',
              title: this.__('Add new'),
              to: { name: 'partners.store' },
              exact: true
            }
          ]
        },
      ]
    };
  },
  computed: {},
  methods: {}
};
</script>

<style scoped lang="scss">
@import "../../../assets/scss/main";

.the-bottom-navbar {
  box-shadow: 0 19px 34px -15px #d2d2f2 !important;
  border-radius: 0 !important;

  .container-full-width {
    width: 1280px !important;
  }

  span {
    &:hover {
      i.expand {
        transform: rotate(180deg) !important;
      }
    }
  }
}
</style>
