<template>
  <div class="header-wrapper fixed">
    <the-top-navbar/>
    <the-bottom-navbar/>
  </div>
</template>

<script>
import TheTopNavbar from '@/components/Layout/Navbar/TheTopNavbar.vue';
import TheBottomNavbar from '@/components/Layout/Navbar/TheBottomNavbar.vue';

export default {
  name: 'TheNavbar',
  data: () => ({
    showMenu: false,
    items: [
      { title: 'Logout' },
    ],
  }),
  components: {
    TheTopNavbar,
    TheBottomNavbar
  },
  methods: {
    logout() {
      this.$store.state.isLogin = false;
      this.$router.push('/login');
    }
  }
};
</script>

<style lang="scss" scoped>
.header-wrapper {
  &.fixed {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  box-shadow: 0 19px 34px -15px #d2d2f2 !important;
}
</style>
