<template>
  <v-card flat class="the-top-navbar">
    <v-app-bar
      color="primary"
      dark
      tile
      height="50px"
      elevation="0"
      flat
      class="bg-toolbar"
      prominent
    >
    </v-app-bar>
    <v-container class="py-0">
      <v-card
        tile
        dark
        class="mx-auto"
        style="margin-top: -50px;"
        elevation="0"
      >
        <v-toolbar
          flat
          height="50px"
          color="primary"
          dark
          class="the-top-navbar"
        >
          <v-toolbar-title>
            <router-link :to="{name: 'products'}" class="logo">
              <span
                class="hidden-xs-only font-italic mr-2"
              >
                {{ __('Title Website') }}
              </span>
            </router-link>
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <div class="search-input ">
            <v-text-field
              v-model="searchText"
              :label="__('Search now')"
              prepend-inner-icon="mdi-magnify"
              class="search d-flex align-center"
              outlined
              single-line
              dense
              :hide-details="true"
            ></v-text-field>
            <div v-if="showResult" class="search-result elevation-3">
              <div v-if="loading">
                <v-skeleton-loader
                  light
                  type="list-item-avatar-two-line, divider"
                ></v-skeleton-loader>
                <v-skeleton-loader
                  light
                  type="list-item-avatar-two-line"
                ></v-skeleton-loader>
              </div>
              <template v-else>
                <div v-for="(product, index) in list.slice(0,5)"
                     :key="index" class="product-item pa-2">
                  <div class="left-col ">
                    <div class="img-wrapper">
                      <img :src="product.pictureUrl" :alt="product.name">
                    </div>
                  </div>
                  <div class="right-col mx-2">
                    <div class="product-name">{{ product.name }}</div>
                    <div class="product-price red--text">{{ product.price }} đ</div>
                  </div>
                </div>
              </template>
            </div>
          </div>

          <!--          <v-btn icon>-->
          <!--            <v-icon>mdi-email-outline</v-icon>-->
          <!--          </v-btn>-->

          <!--          <v-btn icon>-->
          <!--            <v-icon>mdi-bell-outline</v-icon>-->
          <!--          </v-btn>-->
          <v-spacer></v-spacer>
          <!--          temp nav-->
          <!--          <div>-->
          <!--            <base-menu-->
          <!--              :open-on-hover="true"-->
          <!--              :nudgeBottom="2"-->
          <!--              v-for="(item, index) in menus"-->
          <!--              :key="index"-->
          <!--            >-->
          <!--              <template v-slot:activator="{ on }">-->
          <!--              <span class="py-2" v-on="on">-->
          <!--              <base-btn-->
          <!--                text-->
          <!--                dark-->
          <!--                :to="item.to"-->
          <!--                :exact="item.exact"-->
          <!--              >-->
          <!--                <v-icon-->
          <!--                  v-if="item.icon"-->
          <!--                  left-->
          <!--                  dark-->
          <!--                  class="mr-2 font-weight-thin"-->
          <!--                >-->
          <!--                  {{ item.icon }}-->
          <!--                </v-icon>-->
          <!--                {{ item.title }}-->
          <!--              </base-btn>-->
          <!--                </span>-->
          <!--              </template>-->

          <!--              <v-list-->
          <!--                v-if="item.children"-->
          <!--              >-->
          <!--                <v-list-item-->
          <!--                  v-for="(item, index) in item.children"-->
          <!--                  :key="index"-->
          <!--                  ripple="ripple"-->
          <!--                  dense-->
          <!--                  :disabled="item.disabled"-->
          <!--                  rel="noopener"-->
          <!--                  :to="item.to"-->
          <!--                  :exact="item.exact"-->
          <!--                >-->
          <!--                  <v-list-item-icon v-if="item.icon">-->
          <!--                    <v-icon> {{ item.icon }}</v-icon>-->
          <!--                  </v-list-item-icon>-->
          <!--                  <v-list-item-content>-->
          <!--                    {{ item.title }}-->
          <!--                  </v-list-item-content>-->
          <!--                </v-list-item>-->
          <!--              </v-list>-->
          <!--            </base-menu>-->
          <!--          </div>-->
          <!--          end temp nav-->
          <base-menu left :nudgeBottom="2">
            <template v-slot:activator="{ on }">
              <v-btn icon large text v-on="on" class="mr-0">
                <v-avatar size="32px">
                  <img
                    src="@/assets/img/user.jpg"
                    alt="user image"
                  />
                </v-avatar>
              </v-btn>
            </template>

            <v-list>
              <v-list-item
                v-for="(item, index) in items"
                :key="index"
                ripple="ripple"
                dense
                :disabled="item.disabled"
                rel="noopener"
                @click="item.click"
              >
                <v-list-item-icon v-if="item.icon">
                  <v-icon> {{ item.icon }}</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  {{ item.title }}
                </v-list-item-content>
              </v-list-item>
            </v-list>

          </base-menu>

          <!--          <v-btn icon>-->
          <!--            <v-icon>mdi-dots-horizontal</v-icon>-->
          <!--          </v-btn>-->
        </v-toolbar>

      </v-card>
    </v-container>
  </v-card>
</template>

<script>
import { mapActions } from 'vuex';
// import { logout } from '../../../apis/auth';
import VueRouter from 'vue-router';
import * as LocalStorage from '@/common/localStorage';
import * as APIProduct from '@/apis/products';
import { numberToMoney } from '@/common/utils';

const {
  isNavigationFailure,
  NavigationFailureType
} = VueRouter;
export default {
  name: 'TheTopNavbar',
  props: ['clippedLeft', 'miniVariant', 'title', 'drawer'],
  data() {
    return {
      searchText: '',
      debounce: null,
      loading: false,
      noResult: true,
      showResult: false,
      list: [],
      menus: [
        // {
        //   icon: 'mdi-home-outline',
        //   title: this.__('Dashboard'),
        //   to: { name: 'admin' },
        //   exact: true
        // },
        {
          icon: 'mdi-upload-outline',
          title: this.__(':resource',
            {
              resource: this.__('product')
            }),
          to: { name: 'products' }
        },
        // {
        //   icon: '',
        //   title: this.__(':resource',
        //     {
        //       resource: this.__('Partner')
        //     }),
        //   to: { name: 'partners' },
        //   children: [
        //     {
        //       icon: '',
        //       title: this.__('List'),
        //       to: { name: 'partners' },
        //       exact: true
        //     },
        //     {
        //       icon: '',
        //       title: this.__('Add new'),
        //       to: { name: 'partners.store' },
        //       exact: true
        //     }
        //   ]
        // }
      ],
      items: [
        // {
        //   icon: 'mdi-account-outline',
        //   title: 'Hồ sơ',
        //   click: () => {
        //     this.$router.push('/admin/user');
        //   }
        // },
        {
          icon: 'mdi-power',
          title: 'Đăng xuất',
          click: () => {
            // // call api
            // logout();
            // clear local storage
            LocalStorage.destroyToken();
            LocalStorage.destroyUserInfo();
            // redirect
            this.$router.push({ name: 'login' })
              .catch(failure => {
                if (isNavigationFailure(failure, NavigationFailureType.redirected)) {
                  // show a small notification to the user
                }
              });
          }
        }
      ]
    };
  },
  watch: {
    searchText(val) {
      this.searchFilter(val);
    }
  },
  computed: {
    crumbs() {
      const pathArray = this.$route.path.split('/');
      pathArray.shift();
      return pathArray.reduce((breadcrumbArray, path, index) => {
        breadcrumbArray.push({
          to: this.computedLink(pathArray, index),
          text: pathArray.length > 1 ? path : '',
          disabled: pathArray.length - 1 === index
        });
        return breadcrumbArray;
      }, []);
    }
  },
  mounted() {
    if (this.hasPermission()) {
      this.menus.push(
        {
          icon: '',
          title: this.__(':resource',
            {
              resource: this.__('Contract')
            }),
          to: { name: 'contracts' },
        },
        {
          icon: '',
          title: this.__(':resource',
            {
              resource: this.__('Customer')
            }),
          to: { name: 'customers' },
        }
      );
    }
  },
  methods: {
    ...mapActions({
      logout: 'auth/logout'
    }),
    searchFilter(searchKey) {
      // turn on loading
      this.loading = true;
      this.showResult = true;
      this.noResult = false;
      clearTimeout(this.debounce);
      this.debounce = setTimeout(() => {
        if (searchKey) {
          APIProduct.search(searchKey)
            .then(res => {
              // turn of loading
              this.loading = false;

              let list = res.data.data;
              list = list.map((item) => ({
                ...item,
                price: numberToMoney(item.price) || '-'
              }));
              this.list = list;
            })
            .catch(er => {
              console.log(er);
              // turn of loading
              this.loading = false;
              this.showResult = false;
              this.list = [];
            });
        } else {
          // turn of loading
          this.loading = false;
          this.showResult = false;
          this.list = [];
        }
      }, 400);
    },
    computedLink(result, index) {
      let link = '';
      for (let i = 0; i <= index; i += 1) {
        link += `/${result[i]}`;
      }
      return link;
    }
  }
};
</script>

<style scoped lang="scss">
@import "../../../assets/scss/main";

.the-top-navbar {
  border-bottom: 1px solid #c9ccd7 !important;
  border-radius: 0 !important;
  z-index: 99999999;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 22px;
}

.search-input {
  position: relative;
  z-index: 9999;
  width: 70%;

  .search {
    width: 100%;
  }

  .search-result {
    position: absolute;
    min-width: 50%;
    z-index: 9999;
    left: 0;
    //min-height: 190px;
    background: #ffffff;

    .product-item {
      display: flex;
      font-weight: 500;
      border-bottom: 1px dotted #ccc;
      color: black;

      .left-col {
        .img-wrapper {
          width: 60px;
          height: 60px;
          overflow: hidden;

          img {
            width: 100%;
            height: auto;
          }
        }
      }

      .right-col {

      }
    }
  }
}
</style>
