<template>
  <div class="err-page">
    <div class="err-page-wrapper">
      <v-row class="center-element">
        <v-col cols="7">
          <v-row style="height: 290px">
            <v-col>
              <h1>500</h1>
            </v-col>
            <v-col class="right-col">
              <div class="right-col-c">
                <h2 class="text-white">{{__('SORRY!')}}</h2>
                <h3 class="font-weight-light text-white">
                  {{__('500-message')}}
                </h3>
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="center-element">
              <v-btn
                :to="{name: 'admin'}"
                exact
                outlined
                dark
                width="200"
                large
              >
                {{ __('Home') }}
              </v-btn>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </div>
  </div>
</template>
<script>
export default {
  name: 'FiveOO',

  title() {
    return this.__(':resource page', { resource: this.__('500') });
  },
};
</script>
<style lang="scss">

.err-page {
  background-color: #68afff;
  overflow: hidden;

  .err-page-wrapper {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    height: 100vh;
    max-width: none;
    color: #fff;
    display: flex;
    align-items: center;
  }
}

.right-col {
  display: flex;
  align-items: center;

  .right-col-content {
    border-left: 3px solid;
    padding: 15px 0 15px 20px;
  }
}

.center-element {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 15em;
  font-weight: 200;
}

h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

h3 {
  font-size: 30px;
  font-weight: 200;
}
</style>
