// This file define all scss share for project
@import 'variables.scss';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#app {
  font-family: $font-family;
  font-weight: $font-weights !important;
  background-color: $bg-color;

  .text-second-color {
    color: $text-second-color;
    font-weight: 400;
  }

  .content {
    background-color: white !important;
  }
}

// overwrite vuetify scss
.v-application {
  &.theme--light {
    background: $bg-color;
  }

  .text-primary {
    color: $primary !important;
  }

  .bg-soft-primary {
    background: rgba($primary, 0.2) !important;
  }

  .bg-color {
    background: $bg-color;
  }

  .primary {
    background-color: $primary;
    border-color: $primary-border;

    :not(:disabled):not(.disabled):active:focus {
      color: #fff;
      background-color: $primary-hover;
      border-color: $primary-border-hover;
    }
  }

  .secondary {
    background-color: $secondary;
    border-color: $secondary-border;

    :not(:disabled):not(.disabled):active:focus {
      background-color: $secondary-hover;
      border-color: $secondary-border-hover;
    }
  }

  .success {
    background-color: $success;
    border-color: $success-border;

    :not(:disabled):not(.disabled):active:focus {
      background-color: $success-hover;
      border-color: $success-border-hover;
    }
  }

  .warning {
    background-color: $warning;
    border-color: $warning-border;

    :not(:disabled):not(.disabled):active:focus {
      background-color: $warning-hover;
      border-color: $warning-border-hover;
    }
  }

  .accent {
    background-color: $accent;
    border-color: $accent-border;

    :not(:disabled):not(.disabled):active:focus {
      background-color: $accent-hover;
      border-color: $accent-border-hover;
    }
  }

  .error {
    background-color: $error;
    border-color: $error-border;

    :not(:disabled):not(.disabled):active:focus {
      background-color: $error-hover;
      border-color: $error-border-hover;
    }
  }

  .dark {
    background-color: $dark !important;
    border-color: $dark-border !important;

    :not(:disabled):not(.disabled):active:focus {
      background-color: $dark-hover;
      border-color: $dark-border-hover;
    }
  }

  .light {
    color: $light;
  }

  .light-border {
    border-color: $light-border;
  }

}

// button
.v-btn {
  &v-btn--depressed {
    border-radius: 3px;
  }

  &v-btn--outlined {
    border-radius: 3px;
  }

  &.v-btn--rounded {
    border-radius: 28px;
  }
}

// text field
.text-field-style {
  border-radius: 3px !important;
}

// text field small
.small {
  font-size: 13px !important;

  .v-input__slot {
    min-height: 30px !important;
    padding: 0 8px !important;
  }

  .v-input__icon {
    min-width: 10px;
    width: 10px;
  }

  .v-input__append-inner {
    margin-top: 3px !important;
  }

  .v-text-field__details {
    padding: 0 8px !important;
  }

  label {
    top: 6px !important;
    font-size: 13px !important;
  }

  input {
    padding: 0;
  }
}

// card
.v-card__actions > .v-btn.v-btn {
  padding: 0 16px;
}

// icon
.v-icon.v-icon {
  font-size: 20px;
}

// menu
.v-menu__content {
  &.rounded-lg {
    box-shadow: 1px 0 20px rgba(0, 0, 0, .08);
    border-radius: 4px !important;
  }
}

// snackbar
.v-snack__wrapper {
  align-items: unset;
}

.v-snack__action {
  align-items: unset;
  align-self: unset;
  margin: 2px 2px 0 0 !important;
}

// checkbox
.v-input--selection-controls {
  margin-top: 0;
  padding-top: 0;
}

.hide-label {
  display: inline-block;
}

.ellipsesText {
  max-width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.width-200 {
  width: 200px;
}

.width-240 {
  width: 240px;
}

.width-150 {
  width: 150px;
}

@media (min-width: 1264px) {
  .container {
    max-width: 1300px;
  }
}

// simple-data-table
.v-data-table.simple-table-override > .v-data-table__wrapper > table > tbody {
  tr:last-child {
    background: none !important;
  }

  tr:focus-within {
    background: #eeeeee;
  }

  > tr {
    > td {
      padding: 0 !important;
    }
  }
}

.select2-wrap {
  position: relative;

  .select2-container {
    width: 100% !important;

    .select2-selection--single {
      border: 1px solid $borer-color-input;
      border-radius: $border-radius;
      outline: none;
      background-color: transparent;
      height: 30px;
      font-size: 13px;

      &:hover {
        border-color: black !important;
      }

      &:focus-within {
        border-color: $primary-border !important;
        box-shadow: 0 0 0 1px $primary-border;
        outline: none;
      }

      .select2-selection__rendered {
        color: black;
        line-height: 30px;
      }

      .select2-selection__arrow {
        top: 1px;
        right: 4px;
      }
    }
  }

  .progress-linear {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    z-index: 1;
  }

  .errors {
    .select2-container {
      .select2-selection--single {
        border-color: red !important;
        box-shadow: 0 0 0 1px red;
      }
    }
  }
}

.select2-container {
  .select2-dropdown {
    border-radius: unset;
  }

  .select2-search__field {
    outline: none !important;

    .select2-results__option {

    }
  }

  .select2-results {
    ul.select2-results__options {
      li {
        font-family: $font-family;
      }
    }
  }
}

// data table
.v-data-table.cursor-hand table > tbody > tr:hover {
  cursor: pointer;
}

.v-data-table.none-wrap-header table tr th {
  white-space: nowrap;
}

// chip
.v-chip.custom-mapping {
  padding: 0 8px;
  height: fit-content;

  .v-chip__content {
    height: unset;
  }
}

// tooltip custom
.allow-overflow {
  width: 350px !important;
}

.mapping-sup-title .tooltip-wrap {
  width: 100%;
}

.no-transition .v-tooltip, .v-tooltip__content {
  transition: none !important;
  transform: unset;
}

// temp navbar
.v-toolbar.the-top-navbar .v-toolbar__content {
  justify-content: space-between;
}


// CKEDITOR
.ck-editor__editable {
  min-height: 300px;
}
