$second-color: #fff;
$border-color: #e3e3e3;
$bg-color: #ededed;
$text-second-color: #686868;

$font-family: Roboto, sans-serif;
$font-weights: 400;

$primary: #248afd;
$primary-border: #248afd;
$primary-hover: #0276f8;
$primary-border-hover: #026adf;

$secondary: #a3a4a5;
$secondary-border: #a3a4a5;
$secondary-hover: #898b8c;
$secondary-border-hover: #838485;

$success: #71c016;
$success-border: #71c016;
$success-hover: #5d9e12;
$success-border-hover: #569211;

$warning: #f5a623;
$warning-border: #f5a623;
$warning-hover: #e7940b;
$warning-border-hover: #db8c0a;

$accent: #68afff;
$accent-border: #68afff;
$accent-hover: #429bff;
$accent-border-hover: #3594ff;

$error: #ff4747;
$error-border: #ff4747;
$error-hover: #ff2121;
$error-border-hover: #ff1414;

$dark: #282f3a;
$dark-border: #282f3a;
$dark-hover: #13171c;
$dark-border-hover: #0e1014;

$light: #6c7383;
$light-border: #e3e3e3;

// button
$btn-text-transform: none !default;
$btn-font-weight: 400;

$border-radius: 3px !important;

// input
$borer-color-input: rgba(0, 0, 0, 0.38);
