<template>
  <div>
    <section-button/>
    <section-dropdown/>
    <section-alert/>
    <section-text-field/>
    <section-textarea/>
    <section-checkbox/>
    <section-radio/>
    <section-card/>
    <section-progress-linear/>
  </div>
</template>

<script>
import SectionButton from '@/views/UI/Button/Index.vue';
import SectionAlert from '@/views/UI/Alert/Index.vue';
import SectionTextField from '@/views/UI/TextField/Index.vue';
import SectionTextarea from '@/views/UI/Textarea/Index.vue';
import SectionCheckbox from '@/views/UI/Checkbox/Index.vue';
import SectionRadio from '@/views/UI/Radio/Index.vue';
import SectionCard from '@/views/UI/Card/Index.vue';
import SectionDropdown from '@/views/UI/Dropdown/Index.vue';
import SectionProgressLinear from '@/views/UI/ProgressLinear/Index.vue';

export default {
  name: 'UI',

  title() {
    return this.__(':resource page', { resource: this.__('UI') });
  },

  components: {
    SectionButton,
    SectionAlert,
    SectionTextField,
    SectionTextarea,
    SectionCheckbox,
    SectionRadio,
    SectionCard,
    SectionDropdown,
    SectionProgressLinear
  },
  data: () => ({
    skill: 20,
    knowledge: 33,
    power: 78,
  }),
  mounted() {
    setTimeout(() => {
      this.knowledge += 1;
    }, 500);
  }
};
</script>

<style scoped>

</style>
