<template>
  <div>
    <v-container class="px-7">
      <div class="wrap-content">
        <div class="content px-4">
          <v-row class="mt-12">
            <v-col cols="12" sm="4" md="4">
              <base-checkbox
                :input="true"
                label="primary"
                color="primary"
                value="primary"
                hide-details
              ></base-checkbox>
              <base-checkbox
                :input="true"
                label="secondary"
                color="secondary"
                value="secondary"
                hide-details
              ></base-checkbox>
            </v-col>
            <v-col cols="12" sm="4" md="4">
              <base-checkbox
                :input="true"
                label="success"
                color="success"
                value="success"
                hide-details
              ></base-checkbox>
              <base-checkbox
                :input="true"
                label="info"
                color="info"
                value="info"
                hide-details
              ></base-checkbox>
            </v-col>
            <v-col cols="12" sm="4" md="4">
              <base-checkbox
                :input="true"
                label="warning"
                color="warning"
                value="warning"
                hide-details
              ></base-checkbox>
              <base-checkbox
                :input="true"
                label="error"
                color="error"
                value="error"
                hide-details
              ></base-checkbox>
            </v-col>
          </v-row>
        </div>
      </div>
    </v-container>
  </div>
</template>
<script>

export default {
  name: 'CheckboxDemo',
};
</script>

<style scoped>

</style>
