<template>
  <div>
    <v-container class="px-7">
      <div class="wrap-content">
        <div class="content px-4">
          <v-row>
            <form @submit.prevent="doSomething">
              <base-btn type="submit" class="ma-2" color="primary">primary</base-btn>
            </form>
            <base-btn class="ma-2" color="secondary">secondary</base-btn>
            <base-btn class="ma-2" color="success">success</base-btn>
            <base-btn class="ma-2" color="error">error</base-btn>
            <base-btn class="ma-2" color="warning">warning</base-btn>
            <base-btn class="ma-2" color="accent">accent</base-btn>
            <base-btn class="ma-2">light</base-btn>
            <base-btn class="ma-2" dark color="dark">dark</base-btn>
          </v-row>
          <v-row>
            <base-btn rounded class="ma-2" color="primary">primary</base-btn>
            <base-btn rounded class="ma-2" color="secondary">secondary</base-btn>
            <base-btn rounded class="ma-2" color="success">success</base-btn>
            <base-btn rounded class="ma-2" color="error">error</base-btn>
            <base-btn rounded class="ma-2" color="warning">warning</base-btn>
            <base-btn rounded class="ma-2" color="accent">accent</base-btn>
            <base-btn rounded class="ma-2">light</base-btn>
            <base-btn rounded class="ma-2" dark color="dark">dark</base-btn>
          </v-row>
          <v-row>
            <base-btn text class="ma-2" color="primary">primary</base-btn>
            <base-btn text class="ma-2" color="secondary">secondary</base-btn>
            <base-btn text class="ma-2" color="success">success</base-btn>
            <base-btn text class="ma-2" color="error">error</base-btn>
            <base-btn text class="ma-2" color="warning">warning</base-btn>
            <base-btn text class="ma-2" color="accent">accent</base-btn>
            <base-btn text class="ma-2">light</base-btn>
          </v-row>
          <v-row>
            <base-btn class="ma-2" small color="primary">primary</base-btn>
            <base-btn class="ma-2" color="secondary">secondary</base-btn>
            <base-btn class="ma-2" large color="success">success</base-btn>
            <base-btn class="ma-2" x-large color="error">error</base-btn>
          </v-row>
          <v-row>
            <base-btn outlined class="ma-2" color="primary">primary</base-btn>
            <base-btn outlined class="ma-2" color="secondary">secondary</base-btn>
            <base-btn outlined class="ma-2" color="success">success</base-btn>
            <base-btn outlined class="ma-2" color="error">error</base-btn>
            <base-btn outlined class="ma-2" color="warning">warning</base-btn>
            <base-btn outlined class="ma-2" color="accent">accent</base-btn>
            <base-btn outlined class="ma-2  light light-border">light</base-btn>
            <base-btn outlined class="ma-2" color="dark">dark</base-btn>
          </v-row>
          <v-row>
            <base-btn outlined class="ma-2" color="primary">
              <v-icon
                  left
                  class="mr-2"
              >
                mdi-home-outline
              </v-icon>
              primary
            </base-btn>
            <base-btn outlined class="ma-2" color="secondary">
              <v-icon
                  left
                  class="mr-2"
              >
                mdi-home-outline
              </v-icon>
              secondary
            </base-btn>
            <base-btn outlined class="ma-2" color="success">
              <v-icon
                  left
                  class="mr-2"
              >
                mdi-home-outline
              </v-icon>
              success
            </base-btn>
            <base-btn outlined class="ma-2" color="error">
              <v-icon
                  left
                  class="mr-2"
              >
                mdi-home-outline
              </v-icon>
              error
            </base-btn>
            <base-btn outlined class="ma-2" color="warning">
              <v-icon
                  left
                  class="mr-2"
              >
                mdi-home-outline
              </v-icon>
              warning
            </base-btn>
            <base-btn outlined class="ma-2" color="accent">
              <v-icon
                  left
                  class="mr-2"
              >
                mdi-home-outline
              </v-icon>
              accent
            </base-btn>
            <base-btn outlined class="ma-2  light light-border">
              light
              <v-icon
                  right
                  class="ml-2 "
              >
                mdi-home-outline
              </v-icon>
            </base-btn>
            <base-btn outlined class="ma-2" color="dark">
              dark
              <v-icon
                  right
                  class="ml-2"
              >
                mdi-home-outline
              </v-icon>
            </base-btn>
          </v-row>
          <v-row>
            <base-btn outlined icon class="ma-2" color="primary">
              <v-icon
              >
                mdi-home-outline
              </v-icon>
            </base-btn>
            <base-btn outlined icon class="ma-2" color="secondary">
              <v-icon

              >
                mdi-home-outline
              </v-icon>
            </base-btn>
            <base-btn outlined icon class="ma-2" color="success">
              <v-icon

              >
                mdi-home-outline
              </v-icon>
            </base-btn>
            <base-btn outlined icon class="ma-2" color="error">
              <v-icon
              >
                mdi-home-outline
              </v-icon>
            </base-btn>
            <base-btn outlined icon class="ma-2" color="warning">
              <v-icon
              >
                mdi-home-outline
              </v-icon>
            </base-btn>
            <base-btn outlined icon class="ma-2" color="accent">
              <v-icon
              >
                mdi-home-outline
              </v-icon>
            </base-btn>
            <base-btn outlined icon class="ma-2  light light-border">
              <v-icon
              >
                mdi-home-outline
              </v-icon>
            </base-btn>
            <base-btn outlined icon class="ma-2" color="dark">
              <v-icon
              >
                mdi-home-outline
              </v-icon>
            </base-btn>
          </v-row>

          <v-row>
            <base-btn icon class="ma-2" color="primary">
              <v-icon
              >
                mdi-home-outline
              </v-icon>
            </base-btn>
            <base-btn icon class="ma-2" color="secondary">
              <v-icon

              >
                mdi-home-outline
              </v-icon>
            </base-btn>
            <base-btn icon class="ma-2" color="success">
              <v-icon

              >
                mdi-home-outline
              </v-icon>
            </base-btn>
            <base-btn icon class="ma-2" color="error">
              <v-icon
              >
                mdi-home-outline
              </v-icon>
            </base-btn>
            <base-btn icon class="ma-2" color="warning">
              <v-icon
              >
                mdi-home-outline
              </v-icon>
            </base-btn>
            <base-btn icon class="ma-2" color="accent">
              <v-icon
              >
                mdi-home-outline
              </v-icon>
            </base-btn>
            <base-btn icon class="ma-2  light light-border">
              <v-icon
              >
                mdi-home-outline
              </v-icon>
            </base-btn>
            <base-btn icon class="ma-2" color="dark">
              <v-icon
              >
                mdi-home-outline
              </v-icon>
            </base-btn>
          </v-row>

          <v-row>
            <base-btn fab x-small class="ma-2" color="primary">
              <v-icon
              >
                mdi-home-outline
              </v-icon>
            </base-btn>
            <base-btn fab x-small class="ma-2" color="secondary">
              <v-icon

              >
                mdi-home-outline
              </v-icon>
            </base-btn>
            <base-btn fab x-small class="ma-2" color="success">
              <v-icon

              >
                mdi-home-outline
              </v-icon>
            </base-btn>
            <base-btn fab x-small class="ma-2" color="error">
              <v-icon
              >
                mdi-home-outline
              </v-icon>
            </base-btn>
            <base-btn fab x-small class="ma-2" color="warning">
              <v-icon
              >
                mdi-home-outline
              </v-icon>
            </base-btn>
            <base-btn fab x-small class="ma-2" color="accent">
              <v-icon
              >
                mdi-home-outline
              </v-icon>
            </base-btn>
            <base-btn fab x-small class="ma-2  light light-border">
              <v-icon
              >
                mdi-home-outline
              </v-icon>
            </base-btn>
            <base-btn fab x-small class="ma-2" dark color="dark">
              <v-icon
              >
                mdi-home-outline
              </v-icon>
            </base-btn>
          </v-row>
        </div>
      </div>
    </v-container>
  </div>
</template>

<script>

export default {
  name: 'ButtonDemo',
  methods: {
    doSomething() {
      console.log('?');
    }
  }
};
</script>

<style scoped>

</style>
