<template>
  <div>
    <v-container class="px-7">
      <div class="wrap-content">
        <div class="content px-4">
          <v-row>
            <v-col cols="12" sm="6">
              <base-textarea
                label="Textarea"
                id="textid"
              />
            </v-col>
          </v-row>
        </div>
      </div>
    </v-container>
  </div>
</template>
<script>

export default {
  name: 'BaseTextArea',
};
</script>

<style scoped>

</style>
