<template>
  <div>
    <v-container class="px-7">
      <div class="wrap-content">
        <div class="content px-4">
          <v-row>
            <v-col cols="12" sm="6">
              <base-text-field
                label="Email"
                id="Email"
                type="email"
              />
              <base-text-field
                label="Password"
                id="password"
                outlined
                :type="show ? 'text' : 'password'"
                :append-icon="show ? 'mdi-eye-outline' : 'mdi-eye-off-outline'"
                @click:append="show = !show"
              />
              <base-text-field
                error-messages="This text is not null"
                label="Text Field"
                id="textfield1"
              />
            </v-col>
          </v-row>
        </div>
      </div>
    </v-container>
  </div>
</template>

<script>

export default {
  name: 'TextFieldDemo',
  data() {
    return {
      show: false,
    };
  }
};
</script>

<style scoped>

</style>
