<template>
  <v-alert
    :class="{
      'alert':textData,
      'alert-success':success,
      'alert-info':info,
      'alert-warning':warning,
      'alert-error':error
    }"
    :type="type"
    :color="color"
    :text="textData"
    v-bind="$attrs"
    v-on="$listeners"
  >
    <!-- pass through scoped slots -->
    <template v-for="(_, scopedSlotName) in $scopedSlots" v-slot:[scopedSlotName]="slotData">
      <slot :name="scopedSlotName" v-bind="slotData"/>
    </template>

    <!-- pass through normal slots -->
    <template v-for="(_, slotName) in $slots" v-slot:[slotName]>
      <slot :name="slotName"/>
    </template>
  </v-alert>
</template>

<script>
export default {
  name: 'BaseAlert',

  props: {
    text: {
      type: Boolean,
      default: false
    },
    custom: {
      type: Boolean,
      default: true
    },
    type: {
      type: String,
    },
    color: {
      type: String,
    },
  },

  data() {
    return {
      typeData: '',
      textData: false,
      success: false,
      info: false,
      warning: false,
      error: false,
    };
  },
  created() {
    this.changeStyle();
  },
  methods: {
    changeStyle() {
      if (this.custom) {
        this.textData = true;
        switch (this.type || this.color) {
          case 'success': {
            this.success = true;
            break;
          }
          case 'info': {
            this.info = true;
            break;
          }
          case 'warning': {
            this.warning = true;
            break;
          }
          case 'error': {
            this.error = true;
            break;
          }
          default: {
            break;
          }
        }
      }
    }
  }
};
</script>

<style scoped lang="scss">
.alert {
  border: 1px solid transparent !important;

  &:before {
    background-color: unset;
  }

  &.alert-success {
    color: #155724 !important;
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;
  }

  &.alert-info {
    color: #0c5460 !important;
    background-color: #d1ecf1 !important;
    border-color: #bee5eb !important;
  }

  &.alert-warning {
    color: #856404 !important;
    background-color: #fff3cd !important;
    border-color: #ffeeba !important;
  }

  &.alert-error {
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
  }
}

</style>
