<template>
  <div>
    <label v-if="id" :for="`${id}`" class="label">{{ label }}</label>
    <v-autocomplete
      outlined
      dense
      :single-line="singleLine"
      :label="label"
      :id="id"
      v-bind="$attrs"
      v-on="$listeners"
      :no-data-text="__('No data available')"
      :class="{
        'text-field-style': true,
        'small': small,
        }"
    >
      <!-- pass through scoped slots -->
      <template v-for="(_, scopedSlotName) in $scopedSlots" v-slot:[scopedSlotName]="slotData">
        <slot :name="scopedSlotName" v-bind="slotData"/>
      </template>

      <!-- pass through normal slots -->
      <template v-for="(_, slotName) in $slots" v-slot:[slotName]>
        <slot :name="slotName"/>
      </template>
    </v-autocomplete>
  </div>
</template>

<script>
export default {
  name: 'BaseAutocomplete',
  props: {
    label: [String],
    id: {
      type: String
    },
    small: {
      type: Boolean,
      default: false
    },
    singleLine: {
      default: true
    },
  },
  mounted() {
    console.log('mounted');
    this.$emit('updated');
  },
  updated() {
    console.log('updated');
    this.$emit('updated');
  },
};
</script>

<style lang="scss" scoped>
.label {
  user-select: none;
  margin-bottom: .5rem;
  color: black;
}

.text-field-style {
  border-radius: 3px !important;
}
</style>
