<template>
  <v-btn
    :color="color"
    :depressed="depressed"
    :outlined="outlined"
    :min-width="minWidth"
    :tile="tile"
    :tabindex="tabindex"
    v-bind="$attrs"
    v-on="$listeners"
    class="base-btn"
  >
    <slot/>
  </v-btn>
</template>

<script>
export default {
  name: 'BaseButton',

  props: {
    color: {
      type: String,
      default: undefined,
    },
    depressed: {
      type: Boolean,
      default: true,
    },
    outlined: {
      type: Boolean,
      default: false,
    },
    minWidth: {
      type: [Number, String],
      default: undefined,
    },
    tile: {
      type: Boolean,
      default: false,
    },
    tabindex: {},
  },
};
</script>

<style scoped lang="scss">
@import "../../assets/scss/main";

.base-btn {
  text-transform: $btn-text-transform;
  font-weight: $btn-font-weight;
}
</style>
