<template>
  <div class="base-card">
    <v-card
      flat
      tile
      v-bind="$attrs"
      v-on="$listeners"
    >
      <slot/>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'BaseCard',

  inheritAttrs: false,

  props: {
    outlined: {
      type: Boolean,
      default: true
    },
  },
};
</script>

<style scoped lang="scss">
.base-card {
  border: 1px solid rgb(227, 227, 227);
}
</style>
