<template>
  <v-checkbox
    :name="name"
    v-model="inputVal"
    @input="handleChange"
    :false-value="falseValue"
    :true-value="trueValue"
    v-bind="$attrs"
    v-on="$listeners"
    :class="{
        'hide-label': hideLabel,
        }"
  >
    <template #label>
      {{
        label
      }}
      <v-tooltip v-if="showHelp" bottom class="no-transition">
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            v-bind="attrs"
            v-on="on"
          >
            mdi-help-circle-outline
          </v-icon>
        </template>
        <!-- pass through normal slots -->
        <template v-slot:default>
          <slot/>
        </template>
      </v-tooltip>
    </template>
  </v-checkbox>
</template>

<script>
export default {
  name: 'BaseCheckbox',
  props: {
    falseValue: {
      default: undefined
    },
    trueValue: {
      default: undefined
    },
    value: [Boolean, Number],
    hideLabel: {
      type: Boolean,
      default: false
    },
    name: {
      default: undefined,
    },
    showHelp: {
      type: Boolean,
      default: false
    },
    label: {},
  },
  computed: {
    inputVal: {
      get() {
        return this.value;
      },
      set(val) {
        return val;
      }
    }
  },
  methods: {
    handleChange(data) {
      this.$emit('input', data.target.value);
    }
  }
};
</script>

<style scoped>
</style>
