<template>
  <v-row no-gutters justify="center" align="center">
    <div class="text-center">
      <v-progress-circular
        indeterminate
        :size="size"
        :width="width"
        color="primary"
      />
    </div>
  </v-row>
</template>

<script>
export default {
  name: 'BaseComponentLoading',

  props: {
    size: {
      type: Number,
      default: 40,
    },
    width: {
      type: Number,
      default: 4,
    },
  },
};
</script>

<style scoped lang="scss">
@import "../../assets/scss/main";

.base-btn {
  text-transform: $btn-text-transform;
  font-weight: $btn-font-weight;
}
</style>
