<template>
  <v-dialog
    :value="value"
    :max-width="maxWidth"
    :persistent="persistent"
    @click:outside="handleClickOutside"
    @keydown="handleClickOutside"
    v-bind="$attrs"
    v-on="$listeners"
  >
    <v-card>
      <v-card-title class="headline">
        {{ __(titleText) }}
      </v-card-title>
      <v-card-text>
        <slot/>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <base-btn
          color="primary"
          @click="agree"
          :to="agreeLink"
        >
          {{ __(agreeText) }}
        </base-btn>
        <base-btn
          v-if="showDisagreeBtn"
          color="primary"
          text
          @click="disagree"
        >
          {{ __(disagreeText) }}
        </base-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'BaseDialog',
  props: {
    value: {
      type: Boolean,
      default: false
    },
    titleText: {
      type: String,
      default: undefined
    },
    agreeText: {
      type: String,
      default: 'Agree'
    },
    showDisagreeBtn: {
      type: Boolean,
      default: true
    },
    disagreeText: {
      type: String,
      default: 'Disagree'
    },
    maxWidth: {
      type: [Number, String]
    },
    persistent: {
      type: Boolean,
      default: false
    },
    agreeLink: {
      default: undefined
    }
  },
  computed: {
    localModel: {
      get() {
        return this.value;
      },
      set(newVal) {
        return newVal;
      }
    }
  },
  methods: {
    agree() {
      this.$emit('agree');
    },
    disagree() {
      this.$emit('disagree');
    },
    handleClickOutside() {
      if (!this.persistent) {
        this.localModel = false;
        this.$emit('click-outside');
      }
    },
  }
};
</script>

<style lang="scss" scoped>
</style>
