<template>
  <v-tooltip
    v-if="hasPermission(`download_${resource}`)"
    bottom
    class="no-transition"
  >
    <template #activator="{ on, attrs }">
      <base-btn
        :fab="fab"
        :xSmall="xSmall"
        :depressed="depressed"
        :loading="loading"
        :disabled="disabled"
        :color="color"
        :icon="icon"
        :class="classBtn"
        @click="(e)=>$emit('click',e)"
        v-bind="attrs"
        v-on="on"
      >
        <v-icon>
          mdi-download
        </v-icon>
      </base-btn>
    </template>
    <span>{{ textTooltip }}</span>
  </v-tooltip>
</template>

<script>
export default {
  name: 'DownloadButton',

  props: {
    resource: {},
    textTooltip: {
      type: String,
      default: 'my tooltip'
    },
    fab: {
      type: Boolean,
      default: false
    },
    xSmall: {
      type: Boolean,
      default: false
    },
    depressed: {
      type: Boolean,
      default: true
    },
    loading: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    color: {
      type: String
    },
    icon: {
      type: Boolean,
      default: false
    },
    classBtn: {
      type: String
    },
  },

};
</script>

<style scoped lang="scss">
</style>
