<template>
  <div class="base-dropdown">
    <v-menu
      origin="top right"
      :offset-y="true"
      elevation="0"
      bottom
      transition="scroll-y-transition"
      v-bind="$attrs"
      v-on="$listeners"
    >
      <!-- pass through scoped slots -->
      <template v-for="(_, scopedSlotName) in $scopedSlots" v-slot:[scopedSlotName]="slotData">
        <slot :name="scopedSlotName" v-bind="slotData"/>
      </template>

      <!-- pass through normal slots -->
      <template v-for="(_, slotName) in $slots" v-slot:[slotName]>
        <slot :name="slotName"/>
      </template>
    </v-menu>
  </div>
</template>

<script>
export default {
  name: 'BaseCheckbox'
};
</script>

<style scoped>
.base-dropdown {
  box-shadow: unset;
}
</style>
