<template>
  <base-btn
    v-if="hasPermission(`store_${resource}`)"
    v-bind="$attrs"
    v-on="$listeners"
  >
    <v-icon :left="showText">
      mdi-content-copy
    </v-icon>
    <template v-if="showText">
      {{ __('Duplicate') }}
    </template>
  </base-btn>
</template>

<script>
export default {
  name: 'DuplicateButton',

  props: {
    resource: {},
    showText: {
      type: Boolean,
      default: false
    },
  }
};
</script>

<style scoped lang="scss">
</style>
