<template>
  <div>
    <label v-if="id" :for="`${id}`" class="label">{{ label }}</label>
    <v-tooltip v-if="showHelp" bottom>
      <template v-slot:activator="{ on, attrs }">
        <v-icon
          v-bind="attrs"
          v-on="on"
          @click="showDialog"
        >
          mdi-help-circle-outline
        </v-icon>
      </template>
      <!-- pass through normal slots -->
      <template v-for="(_, slotName) in $slots" v-slot:[slotName]>
        <slot :name="slotName"/>
      </template>
    </v-tooltip>
    <v-tooltip v-if="details" bottom>
      <template v-slot:activator="{ on, attrs }">
        <a
          v-bind="attrs"
          v-on="on"
          @click.prevent="showDialog"
        >
          <i> {{ __('(Guide)') }}</i>
        </a>
      </template>
      <!-- pass through normal slots -->
      <template v-for="(_, slotName) in $slots" v-slot:[slotName]>
        <slot :name="slotName"/>
      </template>
    </v-tooltip>
    <v-file-input
      v-model="inputFile"
      outlined
      dense
      ref="input"
      :single-line="singleLine"
      :label="label"
      :id="id"
      v-bind="$attrs"
      v-on="$listeners"
      class="text-field-style"
    >
      <slot
        slot="append-outer"
        name="append-outer"
      />
    </v-file-input>
  </div>
</template>

<script>
export default {
  name: 'BaseFileInput',
  props: {
    label: [String],
    id: {
      type: String
    },
    singleLine: {
      default: true
    },
    showHelp: {
      type: Boolean,
      default: false
    },
    details: {
      type: Boolean,
      default: false
    },
  },
  computed: {
    inputFile: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit('input', val);
      }
    }
  },
  methods: {
    showDialog() {
      this.$emit('show-dialog-guide');
    }
  }
};
</script>

<style lang="scss" scoped>
.label {
  user-select: none;
  margin-bottom: 4px;
  display: inline-block;
  color: black;
}
</style>
