<template>
  <v-list
    v-bind="$attrs"
    v-on="$listeners"
    :tile="title"
    class="base-list"
  >
    <slot/>
  </v-list>
</template>

<script>
export default {
  name: 'BaseList',

  props: {
    title: {
      type: Boolean,
      default: true
    }
  },
};
</script>

<style scoped lang="scss">
.base-list {
  border: 1px solid  rgba(0,0,0,.15);
}
</style>
