<template>
  <v-menu
    origin="top right"
    :offset-y="true"
    rounded="lg"
    bottom
    transition="scroll-y-transition"
    v-bind="$attrs"
    v-on="$listeners"
    class="base-menu-full"
  >
    <!-- pass through scoped slots -->
    <template v-for="(_, scopedSlotName) in $scopedSlots" v-slot:[scopedSlotName]="slotData">
      <slot :name="scopedSlotName" v-bind="slotData"/>
    </template>

    <!-- pass through normal slots -->
    <template v-for="(_, slotName) in $slots" v-slot:[slotName]>
      <slot :name="slotName"/>
    </template>
  </v-menu>
</template>

<script>
export default {
  name: 'BaseMenuFullWidth'
};
</script>

<style scoped lang="scss">
.base-menu-full {
  width: 1280px !important;
}
</style>
