<template>
  <v-menu
    origin="top right"
    :offset-y="true"
    rounded="lg"
    bottom
    :nudge-bottom="nudgeBottom"
    transition="scroll-y-transition"
    v-bind="$attrs"
    v-on="$listeners"
  >
    <!-- pass through scoped slots -->
    <template v-for="(_, scopedSlotName) in $scopedSlots" v-slot:[scopedSlotName]="slotData">
      <slot :name="scopedSlotName" v-bind="slotData"/>
    </template>

    <!-- pass through normal slots -->
    <template v-for="(_, slotName) in $slots" v-slot:[slotName]>
      <slot :name="slotName"/>
    </template>
  </v-menu>
</template>

<script>
export default {
  name: 'BaseMenu',
  props: {
    nudgeBottom: {
      type: Number,
      default: 10
    }
  }
};
</script>

<style scoped>

</style>
