<template>
  <v-progress-linear
    v-bind="$attrs"
    v-on="$listeners"
    :background-opacity="opacity"
    :height="height"
    :rounded="rounded"
    :striped="striped"
    :value="value"
    :color=color
  >
    <slot/>
  </v-progress-linear>
</template>

<script>
export default {
  name: 'BaseProgressLinear',
  props: {
    opacity: {
      type: [Number, String],
      default: 0.3,
    },
    value: {
      type: [Number, String],
      default: 35,
    },
    height: {
      type: [Number, String],
      default: 7,
    },
    rounded: {
      type: Boolean,
      default: true,
    },
    striped: {
      type: Boolean,
      default: true
    },
    color: {
      type: String,
      default: 'accent',
    }
  }
};
</script>

<style scoped>

</style>
