<template>
  <base-btn
    v-if="hasPermission(`remove_${resource}`)"
    v-bind="$attrs"
    v-on="$listeners"
  >
    <v-icon>
      mdi-delete
    </v-icon>
  </base-btn>
</template>

<script>
export default {
  name: 'RemoveButton',

  props: ['resource'],

};
</script>

<style scoped lang="scss">
</style>
