<template>
  <div>
    <div class="select2-wrap">
      <select2
        :value="value"
        :options="items"
        :id="id"
        :name="name"
        :settings="select2Settings"
        @input="handleInput"
        @change="handleChange"
        :class="{
          'errors': errorMessagesData
        }"
      />
      <div
        v-if="!hideDetails"
        class="v-text-field__details errorMessages"
      >
        <div class="v-messages theme--light error--text" role="alert">
          <div class="v-messages__wrapper">
            <div v-if="errorMessagesData" class="v-messages__message">
              {{ errorMessagesData }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SelectTwo',
  props: {
    label: [String],
    id: {
      type: String
    },
    small: {
      type: Boolean,
      default: false
    },
    items: {
      type: Array,
      default: () => []
    },
    value: {
      default: undefined,
      require: true
    },
    name: {},
    width: {
      default: 200
    },
    required: {
      type: Boolean,
      default: false
    },
    errorMessages: {
      type: [String, Array]
    },
    hideDetails: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      select2Settings: null,
    };
  },
  computed: {
    errorMessagesData: {
      get() {
        if (Array.isArray(this.errorMessages) && this.errorMessages.length > 0) {
          if (this.errorMessages[0]) {
            return 'Chưa nhập trường này';
          }
          return 'Chưa nhập trường này';
        }
        return undefined;
      },
      set(newVal) {
        return newVal;
      }
    }
  },
  created() {
    this.select2Settings = {
      dropdownAutoWidth: true,
      allowClear: false
    };
  },
  methods: {
    handleInput(data) {
      this.$emit('input', data);
    },
    handleChange(data) {
      this.$emit('change', data);
    }
  }
};
</script>

<style lang="scss" scoped>
.errorMessages {
  margin-top: 4px;
  margin-bottom: 8px;
  padding: 0 8px;
}
</style>
