<template>
  <div>
    <label v-if="id" :for="`${id}`" class="label">{{ label }}</label>
    <v-select
      outlined
      dense
      single-line
      :label="label"
      :id="id"
      v-bind="$attrs"
      v-on="$listeners"
      :class="{
        'text-field-style': true,
        'small': small,
        }"
    >
       <!-- pass through scoped slots -->
      <template v-for="(_, scopedSlotName) in $scopedSlots" v-slot:[scopedSlotName]="slotData">
        <slot :name="scopedSlotName" v-bind="slotData"/>
      </template>

      <!-- pass through normal slots -->
      <template v-for="(_, slotName) in $slots" v-slot:[slotName]>
        <slot :name="slotName"/>
      </template>
    </v-select>
  </div>
</template>

<script>
export default {
  name: 'BaseSelect',
  props: {
    label: [String],
    id: {
      type: String
    },
    small: {
      type: Boolean,
      default: false
    }
  }
};
</script>

<style lang="scss" scoped>
.label {
  user-select: none;
  margin-bottom: .5rem;
  color: black;
}

.text-field-style {
  border-radius: 3px !important;
}
</style>
