<template>
  <base-btn
    v-if="hasPermission(`show_${resource}`)"
    :to="{ name: `${resource}.show`, params: {id: resourceId} }"
    v-bind="$attrs"
    v-on="$listeners"
  >
    <v-icon>
      mdi-eye
    </v-icon>
  </base-btn>
</template>

<script>
export default {
  name: 'ShowButton',

  props: ['resource', 'resourceId'],

};
</script>

<style scoped lang="scss">
</style>
