<template>
  <div
    :class="{
      'input-wrap': true
    }"
  >
    <label>
      <input
        type="checkbox"
        v-model="localChecked"
        :value="valueProp"
        :false-value="falseValue"
        :true-value="trueValue"
        :placeholder="label"
        @input="emit2Parent"
        :name="name"
        :id="id"
        :class="{
              'input': true
            }"
      >
    </label>
  </div>
</template>

<script>
export default {
  name: 'SimpleTextField',
  props: {
    label: [String],
    id: {
      type: String
    },
    falseValue: {
      default: false
    },
    trueValue: {
      default: true
    },
    checked: { default: false },
    value: {},
    valueProp: {},
    name: {
      default: undefined,
    }
  },
  data() {
    return {
      isModelAsArr: false,
    };
  },
  computed: {
    localChecked: {
      get() {
        if (this.value) {
          // v-model ass array
          if (this.isModelAsArr) {
            if (this.value.indexOf(this.valueProp) === -1) {
              return this.falseValue;
            }
            return this.trueValue;
          }
          // v-model as boolean
          if (this.value === this.trueValue) {
            return this.trueValue;
          }
          return this.falseValue;
        }
        return this.falseValue;
      },
      set(newVal) {
        if (newVal) {
          return this.trueValue;
        }
        return this.falseValue;
      }
    },
  },
  mounted() {
    if (Array.isArray(this.value)) {
      this.isModelAsArr = true;
    }
    this.emitFirstValueCheck();

    this.$emit('updated');
  },
  updated() {
    this.$emit('updated');
  },
  methods: {
    emitFirstValueCheck() {
      if (this.checked) {
        this.emitTrueValue();
      }
    },
    emit2Parent(data) {
      if (data.target.checked) {
        this.emitTrueValue();
      } else {
        this.emitFalseValue();
      }
    },
    emitTrueValue() {
      if (this.isModelAsArr) {
        const newArr = this.value;
        if (newArr.indexOf(this.valueProp) === -1) {
          newArr.push(this.valueProp);
          this.$emit('input', newArr);
        }
      } else {
        this.$emit('input', this.trueValue);
      }
    },
    emitFalseValue() {
      if (this.isModelAsArr) {
        let newArr = this.value;
        newArr = newArr.filter((item) => item !== this.valueProp);
        this.$emit('input', newArr);
      } else {
        this.$emit('input', this.falseValue);
      }
    }
  },
};
</script>

<style lang="scss" scoped>
@import '../../assets/scss/variables.scss';

.input-wrap {
  display: inline-block;

  label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;

    &:hover {
      background: rgb(36 138 253 / 0.2);
    }

    &:focus-within {
      background: rgb(36 138 253 / 0.2);
    }

    input {
      cursor: pointer;
      display: inline-block;
      width: 15px;
      height: 15px;

      &:focus {
        outline: none;
      }
    }
  }
}
</style>
