<template>
  <div>
    <label v-if="id" :for="`${id}`" class="label">{{ label }}</label>
    <v-tooltip
      v-if="showHelp"
      bottom
      class="no-transition"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-icon
          v-bind="attrs"
          v-on="on"
          @click="showDialog"
        >
          mdi-help-circle-outline
        </v-icon>
      </template>
      <!-- pass through normal slots -->
      <template v-for="(_, slotName) in $slots" v-slot:[slotName]>
        <slot :name="slotName"/>
      </template>
    </v-tooltip>
    <v-tooltip
      v-if="details"
      bottom
      class="no-transition"
    >
      <template v-slot:activator="{ on, attrs }">
        <a
          v-bind="attrs"
          v-on="on"
          @click.prevent="showDialog"
        >
          <i> {{ __('(Guide)') }}</i>
        </a>
      </template>
      <!-- pass through normal slots -->
      <template v-for="(_, slotName) in $slots" v-slot:[slotName]>
        <slot :name="slotName"/>
      </template>
    </v-tooltip>
    <div class="select-wrap">
      <select
        :value="value"
        @input="handleInput"
        @change="handleChange"
        :name="name"
        :class="{
          'select': true,
          'small': small,
        }"
        :id="id"
      >
        <option
          v-for="(item, index) in items"
          :key="index"
          :value="item.value ? item.value : (item.text ? item.text : item)"
        >
          {{ item.text ? item.text : (item.value ? item.value : item) }}
        </option>
      </select>
      <i aria-hidden="true"
         class="icon v-icon notranslate mdi mdi-menu-down theme--light"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'SimpleSelect',
  props: {
    label: [String],
    id: {
      type: String
    },
    small: {
      type: Boolean,
      default: false
    },
    items: {
      type: Array,
      default: () => []
    },
    value: {
      default: undefined,
      require: true
    },
    name: {
      default: undefined,
    },
    showHelp: {
      type: Boolean,
      default: false
    },
    details: {
      type: Boolean,
      default: false
    },
  },
  mounted() {
    this.$emit('updated');
  },
  updated() {
    this.$emit('updated');
  },
  methods: {
    handleInput(data) {
      this.$emit('input', data.target.value);
    },
    handleChange(data) {
      this.$emit('change', data.target.value);
    },
    showDialog() {
      this.$emit('show-dialog-guide');
    }
  }
};
</script>

<style lang="scss" scoped>
@import '../../assets/scss/variables.scss';

.label {
  user-select: none;
  color: black;
  display: inline-block;
  margin-bottom: 4px
}

.select-wrap {
  position: relative;
  transform: unset;
  display: flex;
  align-items: center;

  &:focus-within:active i {
    transform: rotate(180deg);
    color: $primary-border;
  }

  &:focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid var(--select-focus);
    border-radius: inherit;
  }

  .icon {
    position: absolute;
    right: 4px;
    z-index: 1;
    display: inline-block;
  }

  .select {
    // A reset of styles, including removing the default dropdown arrow
    appearance: none;
    background-color: transparent;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;

    // Remove dropdown arrow in IE10 & IE11
    // @link https://www.filamentgroup.com/lab/select-css.html
    &::-ms-expand {
      display: none;
    }

    //// Remove focus outline, will add on alternate element
    //outline: lightgreen solid 2px;;

    &::after {
      grid-area: select;
    }

    min-width: 15ch;
    max-width: 30ch;

    border: 1px solid $borer-color-input;
    border-radius: $border-radius;
    padding: 0.25em 0.5em;

    cursor: pointer;
    line-height: normal;

    // default size
    height: 40px;
    align-self: start;

    &.small {
      height: 30px;
    }

    &:hover {
      border-color: black !important;
    }

    &:focus {
      border-color: $primary-border !important;
      box-shadow: 0 0 0 1px $primary-border;
      outline: none;
    }

    &:active {
      border-color: $primary-border !important;
      box-shadow: 0 0 0 1px $primary-border;
    }

    option {
      font-size: 16px;
      padding: 6px;
    }
  }

  .select--disabled {
    cursor: not-allowed;
    background-color: #eee;
    background-image: linear-gradient(to top, #ddd, #eee 33%);
  }
}

</style>
