<template>
  <div>
    <div class="simple-text-field-wrap">
      <label v-if="id" :for="`${id}`" class="label">{{ label }}</label>
      <div
          :class="{
            'input-wrap': true,
            'small': small,
            'error-input': Boolean(errorMessagesData),
        }">
        <input
            :value="value"
            @input="handleInput"
            @change="handleChange"
            :placeholder="label"
            :name="name"
            :id="id"
            :class="{
              'input': true,
              'small': small,
            }"
        >
      </div>
      <div
          v-if="!hideDetails"
          class="v-text-field__details errorMessages"
      >
        <div class="v-messages theme--light error--text" role="alert">
          <div class="v-messages__wrapper">
            <div v-if="errorMessagesData" class="v-messages__message">
              {{ errorMessagesData }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SimpleTextField',
  props: {
    label: [String],
    id: {
      type: String
    },
    small: {
      type: Boolean,
      default: false
    },
    value: {
      default: undefined,
      require: true
    },
    name: {
      default: undefined,
    },
    errorMessages: {
      type: [String, Array]
    },
    hideDetails: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    errorMessagesData: {
      get() {
        if (Array.isArray(this.errorMessages) && this.errorMessages.length > 0) {
          if (this.errorMessages[0]) {
            return this.errorMessages[0];
          }
          return this.errorMessages;
        }
        return undefined;
      },
      set(newVal) {
        return newVal;
      }
    }
  },
  methods: {
    handleInput(data) {
      if (this.errorMessagesData) {
        this.errorMessagesData = undefined;
      }

      this.$emit('input', data.target.value);
    },
    handleChange(data) {
      this.$emit('change', data.target.value);
    }
  },
};
</script>

<style lang="scss" scoped>
@import '../../assets/scss/variables.scss';

.simple-text-field-wrap {
  .label {
    user-select: none;
    display: inline-block;
    color: black;
    margin-bottom: 4px;
  }

  .input-wrap {
    border: 1px solid $borer-color-input;
    border-radius: $border-radius;
    display: flex;

    &.error-input {
      border-color: $error-border-hover !important;
      box-shadow: 0 0 0 1px $error-border-hover !important;
    }

    height: 40px;
    line-height: normal;

    &.small {
      height: 30px;
    }

    &:hover {
      border-color: black;
    }

    &:focus-within {
      border-color: $primary-border;
      box-shadow: 0 0 0 1px $primary-border;
    }

    .input {
      padding: 0 8px;
      color: #000;
      border: none;
      display: block;
      box-sizing: border-box;
      width: 100%;
      bottom: 0;

      &:focus {
        outline: none;
      }

      &.c-fix,
      &:focus,
      {
        border-color: transparent;

        ~ label {
          color: #646669;
          font-size: 11px;
          //Come up with a calculation for this
          top: calc(30% - .5rem);
        }
      }
    }
  }

  .errorMessages {
    margin-top: 4px;
    margin-bottom: 8px;
    padding: 0 8px;
  }
}

</style>
