<template>
  <v-skeleton-loader
    :boilerplate="false"
    :tile="false"
    :type="type"
  ></v-skeleton-loader>
</template>

<script>
export default {
  name: 'CustomSkeleton',
  props: ['type']
};
</script>

<style scoped></style>
