<template>
  <v-snackbar
      v-model="snackbar"
      :color="color"
      v-bind="$attrs"
      v-on="$listeners"
    >
      <!-- pass through scoped slots -->
      <template v-for="(_, scopedSlotName) in $scopedSlots" v-slot:[scopedSlotName]="slotData">
        <slot :name="scopedSlotName" v-bind="slotData"/>
      </template>

      <!-- pass through normal slots -->
      <template v-for="(_, slotName) in $slots" v-slot:[slotName]>
        <slot :name="slotName"/>
      </template>
    </v-snackbar>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: 'primary'
    },
  },
  data: () => ({
    snackbar: true,
  }),
};
</script>
