<template>
  <v-data-table
    :items="items"
    :search="search"
    :server-items-length="serverItemsLength"
    :headers="headers"
    :loading="loading"
    :options.sync="optionsProp"
    :mobile="true"
    @update:options="getData"
    v-bind="$attrs"
    v-on="$listeners"
    :loading-text="__('Loading... Please wait')"
    :no-results-text="__('No matching records found')"
    expand-icon="fas fa-angle-down"
    :hide-default-footer="hideDefaultFooter"
    :footer-props="footerProps"
  >
    <!-- pass through scoped slots -->
    <template v-for="(_, scopedSlotName) in $scopedSlots" v-slot:[scopedSlotName]="slotData">
      <slot :name="scopedSlotName" v-bind="slotData"/>
    </template>
    <!-- pass through normal slots -->
    <template v-for="(_, slotName) in $slots" v-slot:[slotName]>
      <slot :name="slotName"/>
    </template>
  </v-data-table>
</template>

<script>
import * as LocalStorage from '@/common/localStorage';

export default {
  components: {},

  props: {
    items: {
      type: Array,
      default: null
    },
    search: {
      type: String,
      default: undefined
    },
    serverItemsLength: {
      type: Number,
      default: -1
    },
    headers: {
      type: Array
    },
    loading: {
      type: Boolean,
      default: false
    },
    tableType: {
      type: String,
      default: 'comments'
    },
    options: {
      type: Object,
      default: () => ({
        page: 1,
        itemsPerPage: 15
      })
    },
    isLoadedData: {
      type: Boolean,
      default: false
    },
    hideDefaultFooter: {
      type: Boolean,
      default: false
    },
  },

  data() {
    return {
      optionsProp: this.options,
      footerProps: {
        'items-per-page-options': [5, 10, 15, 30, 50],
        'items-per-page-text': this.__('Rows per page:')
      },
    };
  },

  computed: {},

  created() {
  },

  mounted() {
  },

  methods: {
    getData(pagination) {
      if (this.isLoadedData) {
        this.$emit('change-load-data', false);
      } else {
        LocalStorage.setPerPageToken(pagination.itemsPerPage);
        this.$emit('get-data', pagination);
      }
    },
  }
};
</script>

<style scoped>
</style>
