<template>
  <div>
    <v-data-table
      :headers="headers"
      expand-icon="fas fa-angle-down"
      :mobile="true"
      :items="items"
      loading-text="Loading... Please wait"
      :server-items-length="serverItemsLength"
      :options.sync="options"
      @update:options="getData"
      :loading="loading"
    >
      <template v-slot:item.url="{ item }">
        <v-tooltip v-if="item.url" bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-chip
              label
              outlined
              color="primary"
              v-on="on"
              v-bind="attrs"
              @click.prevent="download(item)"
            >Tải về</v-chip>
          </template>
          <span>Tải về</span>
        </v-tooltip>
      </template>
      <template v-slot:item.failed="{ item }">
        <v-tooltip v-if="item.failed" bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-chip
              label
              color="warning"
              v-on="on"
              v-bind="attrs"
              @click.prevent="failDetail(item)"
            >{{ item.failed }}</v-chip>
          </template>
          <span>Lỗi</span>
        </v-tooltip>
      </template>
      <template v-slot:item.process="{ item }">
        <v-progress-circular
          :rotate="-90"
          :size="40"
          :value="item.process"
          color="primary"
          class="ma-2"
        >{{ item.process }}</v-progress-circular>
      </template>
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>{{ tableTitle }}</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <base-btn color="primary" dark class="mb-2" @click="triggerUploadInput">
            Upload
             <v-icon right dark>mdi-cloud-upload</v-icon>
          </base-btn>
          <input
            @change="uploadFile"
            type="file"
            ref="fileUpload"
            style="display:none"
            />
        </v-toolbar>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <base-btn icon dark color="primary" v-on="on" v-bind="attrs" @click="editItem(item)">
              <v-icon>fas fa-pencil-alt</v-icon>
            </base-btn>
          </template>
          <span>Chỉnh sửa</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <base-btn icon dark color="primary" v-on="on" v-bind="attrs" @click="viewItem(item)">
              <v-icon>fas fa-eye</v-icon>
            </base-btn>
          </template>
          <span>Xem</span>
        </v-tooltip>
      </template>
      <template v-slot:no-data>
        <base-btn color="primary" @click="getData">Tải lại</base-btn>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import BaseBtn from '@/components/Base/Button.vue';

export default {
  components: {
    BaseBtn
  },

  props: {
    items: {
      type: Array,
      default: null
    },
    serverItemsLength: {
      type: Number,
      default: 0
    },
    tableType: {
      type: String,
      default: 'comments'
    },
    loading: {
      type: Boolean,
      default: false
    },
    isLoadedData: {
      type: Boolean,
      default: false
    },
    optionsProp: {
      type: Object,
      default: () => ({
        page: 1,
        itemsPerPage: 15
      })
    }
  },

  data() {
    return {
      // data table & dialog
      // loadData: true,
      headers: [],
      options: this.optionsProp
    };
  },

  computed: {
    tableTitle() {
      if (this.tableType === 'upload') {
        return 'Upload';
      }
      return '';
    }
  },

  created() {
    this.dataHeader();
  },

  mounted() {
    console.log(this.items);
  },

  methods: {
    getData(pagination) {
      if (this.isLoadedData) {
        this.$emit('changeLoadData', false);
      } else {
        this.$emit('getDataFromApi', pagination);
      }
    },

    handleClickRow(item) {
      this.viewItem(item);
    },

    getColor(calories) {
      if (calories === 'Pending') return 'primary';
      if (calories === 'Reject') return 'warning';
      if (calories === 'Approve') return 'success';
      if (calories === 'Cancel') return 'grey';
      if (calories === 'Giải ngân') return 'cyan';
      return '';
    },

    dataHeader() {
      if (this.tableType === 'upload') {
        this.headers = [
          {
            text: 'Tên file',
            value: 'name'
          },
          {
            text: 'Link',
            value: 'url',
            align: 'center'
          },
          {
            text: 'Ngày tạo',
            value: 'created'
          },
          {
            text: 'Tổng',
            value: 'total',
            align: 'center'
          },
          {
            text: 'Thành công',
            value: 'success',
            align: 'center'
          },
          {
            text: 'Thất bại',
            value: 'failed',
            align: 'center'
          },
          {
            text: 'Tiến trình',
            value: 'process',
            width: '100',
            align: 'center'
          },
          {
            text: 'Thao tác',
            value: 'actions',
            sortable: false,
            align: 'center',
            width: '110'
          }
        ];
      }

      if (this.tableType === 'errorDetails') {
        this.headers = [
          {
            text: 'ID',
            value: 'id',
            align: 'center'
          },
          {
            text: 'Row',
            value: 'row',
            align: 'center'
          },
          {
            text: 'Exception',
            value: 'exception',
            align: 'center'
          },
          {
            text: 'Ngày tạo',
            value: 'created'
          },
          {
            text: 'Update',
            value: 'updated'
          },
          {
            text: 'Thao tác',
            value: 'actions',
            sortable: false,
            align: 'center',
            width: '110'
          }
        ];
      }
    },

    newItem() {
      this.$router.push(`/admin/${this.tableType}/new`);
    },

    editItem(item) {
      this.$router.push(`/admin/${this.tableType}/${item.id}/edit`);
    },

    triggerUploadInput() {
      this.$refs.fileUpload.click();
    },

    uploadFile(event) {
      this.$emit('upload-file', event.target.files);
    },

    viewItem(item) {
      this.$router.push(`/admin/${this.tableType}/${item.id}`);
    },

    download(item) {
      window.open(item.url, '_blank');
    },

    failDetail(item) {
      this.$router.push(`/admin/${this.tableType}/${item.id}/error-details`);
    }
  }
};
</script>

<style scoped>
</style>
