<template>
  <div>
    <label v-if="id" :for="`${id}`" class="label">{{ label }}</label>
    <v-text-field
      :name = "name"
      outlined
      dense
      single-line
      :label="label"
      :id="id"
      v-bind="$attrs"
      v-on="$listeners"
      :class="{
        'text-field-style': true,
        'small': small,
        }"
    >
      <slot
        slot="append-outer"
        name="append-outer"
      />
    </v-text-field>
  </div>
</template>

<script>
export default {
  name: 'BaseTextField',
  props: {
    label: [String],
    id: {
      type: String
    },
    small: {
      type: Boolean,
      default: false
    },
    name: {
      type: String
    }
  }
};
</script>

<style lang="scss" scoped>
.label {
  user-select: none;
  margin-bottom: 4px;
  display: inline-block;
  color: black;
}
</style>
