<template>
  <div>
    <label v-if="label" :for="`${id}`" class="label">{{ label }}</label>
    <v-textarea
      outlined
      dense
      single-line
      :label="label"
      :id="`${id}`"
      v-bind="{
      rows: 4,
      ...$attrs,
    }"
      v-on="$listeners"
      class="text-area-style"
    />
  </div>
</template>

<script>
export default {
  name: 'BaseTextarea',
  props: {
    label: [String],
    id: {
      type: String,
      require: true
    },
  }
};
</script>

<style lang="scss" scoped>
.label {
  user-select: none;
  margin-bottom: .5rem;
  color: black;
}

.text-area-style {
  border-radius: 3px !important;
}

</style>
