<template>
  <div class="tooltip-wrap">
    <div class="tooltip">
      <slot></slot>
      <span :class="{
          'tooltiptext': true,
          'right': right
        }">
        {{ text }}
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BaseTooltip',
  props: {
    text: {
      type: String,
      default: 'text'
    },

    top: {
      type: Boolean,
      default: false
    },

    bottom: {
      type: Boolean,
      default: false
    },

    left: {
      type: Boolean,
      default: false
    },

    right: {
      type: Boolean,
      default: false
    }
  }
};
</script>

<style scoped lang="scss">
.tooltip-wrap {
  .tooltip {
    position: relative;
    display: inline-block;
    width: 100%;

    .tooltiptext {
      visibility: hidden;
      background-color: rgb(0 0 0 / 0.5);
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px;
      position: absolute;
      z-index: 1;
      top: 110%;
      left: 50%;
      margin-left: -114px;
      font-weight: normal;

      &.right {
        left: unset;
        right: -5px;
      }
    }

    &:hover .tooltiptext {
      visibility: visible;
    }
  }
}
</style>
