<template>
  <base-btn
    v-if="hasPermission(`update_${resource}`)"
    :to="{ name: `${resource}.update`, params: {id: resourceId} }"
    :icon="icon"
    v-bind="$attrs"
    v-on="$listeners"
  >
    <v-icon :left="!icon">
      mdi-pencil
    </v-icon>
    <template v-if="!icon">
      {{ __('Edit') }}
    </template>
  </base-btn>
</template>

<script>
export default {
  name: 'UpdateButton',

  props: {
    resource: {},
    resourceId: {},
    icon: {
      type: Boolean,
      default: false
    },
  }
};
</script>

<style scoped lang="scss">
</style>
