<template>
  <div>
    <v-container class="px-7">
      <div class="wrap-content">
        <div class="content px-4">
          <v-row class="mt-12">
            <v-col>
              <base-progress-linear class="my-4"
                                    v-model="value"
                                    :buffer-value="bufferValue"
                                    stream
                                    height="25"
              >
                <strong>{{ Math.ceil(value) }}%</strong>
              </base-progress-linear>
              <base-progress-linear color="primary" class="my-4">

              </base-progress-linear>
              <base-progress-linear color="success" class="my-4"/>
              <base-progress-linear color="error" class="my-4"/>
            </v-col>
          </v-row>
        </div>
      </div>
    </v-container>
  </div>
</template>
<script>

export default {
  name: 'ProgressLinearDemo',
  data() {
    return {
      value: 10,
      bufferValue: 20,
      interval: 0,
    };
  },

  watch: {
    value(val) {
      if (val < 100) return;

      this.value = 0;
      this.bufferValue = 10;
      this.startBuffer();
    },
  },

  mounted() {
    this.startBuffer();
  },

  beforeDestroy() {
    clearInterval(this.interval);
  },

  methods: {
    startBuffer() {
      clearInterval(this.interval);

      this.interval = setInterval(() => {
        this.value += Math.random() * (15 - 5) + 5;
        this.bufferValue += Math.random() * (15 - 5) + 6;
      }, 3000);
    },
  }
};
</script>

<style scoped lang="scss">
</style>
