<template>
  <v-container class="px-7">
    <div class="wrap-content">
      <div class="content px-4">
        <v-row>
          <v-col cols="12" sm="6">
            This is dashboard page
            <p>{{ __('Actions') }}</p>

            <div>
              <router-link :to="{name: 'ui'}" About>
                UI component
              </router-link>
            </div>
            <div>
              <router-link :to="{name: 'uploads'}" About>
                Upload
              </router-link>
            </div>
            <div>
              <router-link :to="{name: 'partners'}" About>
                Đối tác
              </router-link>
            </div>
            <div>
              <router-link :to="{name: 'contracts'}" About>
                Hợp đồng
              </router-link>
            </div>
            <div>
              <router-link :to="{name: 'customers'}" About>
                Khách hàng
              </router-link>
            </div>
            <!--            <simple-checkbox-->
            <!--              v-model="checkedColumns"-->
            <!--              color="primary"-->
            <!--              hide-details-->
            <!--              @input="ooo"-->
            <!--            />-->
            <!--            <input type="checkbox" value="Jack" v-model="checkedColumns">-->
            <!--            <input type="checkbox" value="John" v-model="checkedColumns">-->
            <!--            <input type="checkbox" value="Mike" v-model="checkedColumns">-->
            <!--            <br>-->
            <!--            <span>Checked names: {{ checkedColumns }}</span>-->
          </v-col>
        </v-row>
      </div>
    </div>
  </v-container>
</template>

<script>
export default {
  name: 'Index',
  data() {
    return {
      checkedColumns: true,
    };
  },
  watch: {
    checkedColumns() {
      // console.log('this.checkedColumns', this.checkedColumns);
    }
  },
  title() {
    return this.__(':resource page', { resource: this.__('dashboard') });
  },
  methods: {
    ooo() {
      console.log('change');
    },
  }
};
</script>

<style scoped>

</style>
