<template>
  <v-footer :fixed="false" :dense="false">
    <span>&copy; {{ new Date().getFullYear() }}</span>
  </v-footer>
</template>

<script>
export default {
  name: 'Footer'
};
</script>

<style scoped>

</style>
