<template>
  <div>
    <v-container class="px-7">
      <div class="wrap-content">
        <div class="content px-4">
          <v-row class="mt-12">
            <v-col>
              <base-dropdown tile right>
                <template v-slot:activator="{ on }">
                  <base-btn color="primary" class="ma-2" v-on="on">
                    Dropdown
                    <v-icon
                      right
                      class="ml-2 font-weight-thin expand"
                    >
                      mdi-chevron-down
                    </v-icon>
                  </base-btn>
                </template>

                <base-list>
                  <v-list-item
                    v-for="(item, index) in items"
                    :key="index"
                    @click="doSomething"
                  >
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                  </v-list-item>
                  <v-divider/>
                  <v-list-item>
                    <v-list-item-title>Something else</v-list-item-title>
                  </v-list-item>
                </base-list>
              </base-dropdown>
              <base-dropdown tile right>
                <template v-slot:activator="{ on }">
                  <base-btn color="success" class="ma-2" v-on="on">
                    Dropdown
                    <v-icon
                      right
                      class="ml-2 font-weight-thin expand"
                    >
                      mdi-chevron-down
                    </v-icon>
                  </base-btn>
                </template>

                <base-list>
                  <v-list-item
                    v-for="(item, index) in items"
                    :key="index"
                    @click="doSomething"
                  >
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                  </v-list-item>
                  <v-divider/>
                  <v-list-item>
                    <v-list-item-title>Something else</v-list-item-title>
                  </v-list-item>
                </base-list>
              </base-dropdown>
              <base-dropdown tile right>
                <template v-slot:activator="{ on }">
                  <base-btn color="error" class="ma-2" v-on="on">
                    Dropdown
                    <v-icon
                      right
                      class="ml-2 font-weight-thin expand"
                    >
                      mdi-chevron-down
                    </v-icon>
                  </base-btn>
                </template>

                <base-list>
                  <v-list-item
                    v-for="(item, index) in items"
                    :key="index"
                    @click="doSomething"
                  >
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                  </v-list-item>
                  <v-divider/>
                  <v-list-item>
                    <v-list-item-title>Something else</v-list-item-title>
                  </v-list-item>
                </base-list>
              </base-dropdown>
              <base-dropdown tile right>
                <template v-slot:activator="{ on }">
                  <base-btn color="warning" class="ma-2" v-on="on">
                    Dropdown
                    <v-icon
                      right
                      class="ml-2 font-weight-thin expand"
                    >
                      mdi-chevron-down
                    </v-icon>
                  </base-btn>
                </template>

                <base-list>
                  <v-list-item
                    v-for="(item, index) in items"
                    :key="index"
                    @click="doSomething"
                  >
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                  </v-list-item>
                  <v-divider/>
                  <v-list-item>
                    <v-list-item-title>Something else</v-list-item-title>
                  </v-list-item>
                </base-list>
              </base-dropdown>
              <base-dropdown tile right>
                <template v-slot:activator="{ on }">
                  <base-btn color="accent" class="ma-2" v-on="on">
                    Dropdown
                    <v-icon
                      right
                      class="ml-2 font-weight-thin expand"
                    >
                      mdi-chevron-down
                    </v-icon>
                  </base-btn>
                </template>

                <base-list>
                  <v-list-item
                    v-for="(item, index) in items"
                    :key="index"
                    @click="doSomething"
                  >
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                  </v-list-item>
                  <v-divider/>
                  <v-list-item>
                    <v-list-item-title>Something else</v-list-item-title>
                  </v-list-item>
                </base-list>
              </base-dropdown>
            </v-col>
            <v-col>
              <base-dropdown tile right>
                <template v-slot:activator="{ on }">
                  <base-btn outlined color="primary" class="ma-2" v-on="on">
                    Dropdown
                    <v-icon
                      right
                      class="ml-2 font-weight-thin expand"
                    >
                      mdi-chevron-down
                    </v-icon>
                  </base-btn>
                </template>

                <base-list>
                  <v-list-item
                    v-for="(item, index) in items"
                    :key="index"
                    @click="doSomething"
                  >
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                  </v-list-item>
                  <v-divider/>
                  <v-list-item>
                    <v-list-item-title>Something else</v-list-item-title>
                  </v-list-item>
                </base-list>
              </base-dropdown>
              <base-dropdown tile right>
                <template v-slot:activator="{ on }">
                  <base-btn outlined color="success" class="ma-2" v-on="on">
                    Dropdown
                    <v-icon
                      right
                      class="ml-2 font-weight-thin expand"
                    >
                      mdi-chevron-down
                    </v-icon>
                  </base-btn>
                </template>

                <base-list>
                  <v-list-item
                    v-for="(item, index) in items"
                    :key="index"
                    @click="doSomething"
                  >
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                  </v-list-item>
                  <v-divider/>
                  <v-list-item>
                    <v-list-item-title>Something else</v-list-item-title>
                  </v-list-item>
                </base-list>
              </base-dropdown>
              <base-dropdown tile right>
                <template v-slot:activator="{ on }">
                  <base-btn outlined color="error" class="ma-2" v-on="on">
                    Dropdown
                    <v-icon
                      right
                      class="ml-2 font-weight-thin expand"
                    >
                      mdi-chevron-down
                    </v-icon>
                  </base-btn>
                </template>

                <base-list>
                  <v-list-item
                    v-for="(item, index) in items"
                    :key="index"
                    @click="doSomething"
                  >
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                  </v-list-item>
                  <v-divider/>
                  <v-list-item>
                    <v-list-item-title>Something else</v-list-item-title>
                  </v-list-item>
                </base-list>
              </base-dropdown>
              <base-dropdown tile right>
                <template v-slot:activator="{ on }">
                  <base-btn outlined color="warning" class="ma-2" v-on="on">
                    Dropdown
                    <v-icon
                      right
                      class="ml-2 font-weight-thin expand"
                    >
                      mdi-chevron-down
                    </v-icon>
                  </base-btn>
                </template>

                <base-list>
                  <v-list-item
                    v-for="(item, index) in items"
                    :key="index"
                    @click="doSomething"
                  >
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                  </v-list-item>
                  <v-divider/>
                  <v-list-item>
                    <v-list-item-title>Something else</v-list-item-title>
                  </v-list-item>
                </base-list>
              </base-dropdown>
              <base-dropdown tile right>
                <template v-slot:activator="{ on }">
                  <base-btn outlined color="accent" class="ma-2" v-on="on">
                    Dropdown
                    <v-icon
                      right
                      class="ml-2 font-weight-thin expand"
                    >
                      mdi-chevron-down
                    </v-icon>
                  </base-btn>
                </template>

                <base-list>
                  <v-list-item
                    v-for="(item, index) in items"
                    :key="index"
                    @click="doSomething"
                  >
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                  </v-list-item>
                  <v-divider/>
                  <v-list-item>
                    <v-list-item-title>Something else</v-list-item-title>
                  </v-list-item>
                </base-list>
              </base-dropdown>
            </v-col>
          </v-row>
        </div>
      </div>
    </v-container>
  </div>
</template>
<script>

export default {
  name: 'DropdownDemo',
  data() {
    return {
      radios: false,
      items: [
        { title: 'Click Me1' },
        { title: 'Click Me2' },
        { title: 'Click Me3 Click Me3' },
        { title: 'Click Me4' },
      ],
    };
  },
  methods: {
    doSomething() {
      console.log('click');
    }
  }
};
</script>

<style scoped>

</style>
