<template>
  <div>
    <v-container class="px-7">
      <div class="wrap-content">
        <div class="content px-4">
          <v-row>
            <v-col cols="12" sm="6">
              <base-alert
                color="success"
              >
                I'm a success bootstrap-alert.
              </base-alert>

              <base-alert color="info">
                I'm an info bootstrap-alert.
              </base-alert>

              <base-alert color="warning">
                I'm a warning bootstrap-alert.
              </base-alert>

              <base-alert color="error">
                I'm an error bootstrap-alert.
              </base-alert>
            </v-col>
            <v-col cols="12" sm="6">
              <base-alert
                type="success"
                close-icon="mdi-close"
                v-model="alert"
                dismissible
              >
                I'm a success bootstrap-alert.
              </base-alert>

              <base-alert type="info">
                I'm an info bootstrap-alert.
              </base-alert>

              <base-alert type="warning">
                I'm a warning bootstrap-alert.
              </base-alert>

              <base-alert type="error">
                I'm an error bootstrap-alert.
              </base-alert>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" sm="6">
              <v-alert
                v-model="alert"
                dismissible
                :custom="false"
                close-icon="mdi-delete"
                color="cyan"
                border="left"
                elevation="2"
                colored-border
                icon="mdi-twitter"
              >
                You've got <strong>5</strong> new updates on your timeline!.
              </v-alert>
              <base-alert
                :custom="false"
                type="success"
              >
                I'm a success vuetify-alert.
              </base-alert>

              <base-alert :custom="false" type="info">
                I'm an info vuetify-alert.
              </base-alert>

              <base-alert :custom="false" type="warning">
                I'm a warning vuetify-alert.
              </base-alert>

              <base-alert :custom="false" type="error">
                I'm an error vuetify-alert.
              </base-alert>
            </v-col>
            <v-col cols="12" sm="6">
              <base-alert outlined :custom="false" type="success">
                I'm a success vuetify-alert.
              </base-alert>

              <base-alert outlined :custom="false" type="info">
                I'm an info vuetify-alert.
              </base-alert>

              <base-alert outlined :custom="false" type="warning">
                I'm a warning vuetify-alert.
              </base-alert>

              <base-alert outlined :custom="false" type="error">
                I'm an error vuetify-alert.
              </base-alert>
            </v-col>
          </v-row>
        </div>
      </div>
    </v-container>
  </div>
</template>

<script>

export default {
  name: 'AlertDemo',
  data() {
    return {
      alert: true
    };
  }
};
</script>

<style scoped>
</style>
