<template>
  <component :is="'default-layout'">
    <validation-observer ref="formImportFile">
      <form @submit.prevent="handleSubmit">
        <v-card elevation="2" outlined tile>
          <v-card-title class="background-color: primary;">
            Thêm sản phẩm
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <validation-provider
                    mode="eager"
                    rules="required"
                    :name="__('CodeSKU')"
                    v-slot="{ errors, validate }"
                  >
                    <v-text-field
                      outlined
                      v-model="code"
                      :label="__('CodeSKU')"
                      :error-messages="errors"
                    ></v-text-field>
                  </validation-provider>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <validation-provider
                    mode="eager"
                    rules="required"
                    :name="__('ProductName')"
                    v-slot="{ errors, validate }"
                  >
                    <v-text-field
                      outlined
                      v-model="name"
                      :label="__('ProductName')"
                      :error-messages="errors"
                    ></v-text-field>
                  </validation-provider>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <validation-provider
                    mode="eager"
                    rules="required"
                    :name="__('ProductOriginPrice')"
                    vid="price"
                    v-slot="{ errors, validate }"
                  >
                    <v-text-field
                      outlined
                      v-model="originPrice"
                      :label="__('ProductOriginPrice')"
                      :error-messages="errors"
                      type="number"
                    ></v-text-field>
                  </validation-provider>
                </v-col>
                <v-col>
                  <validation-provider
                    mode="eager"
                    :name="__('ProductPrice')"
                    vid="originPrice"
                    v-slot="{ errors, validate }"
                  >
                    <v-text-field
                      outlined
                      v-model="price"
                      :label="__('ProductPrice')"
                      :error-messages="errors"
                      type="number"
                    ></v-text-field>
                  </validation-provider>
                </v-col>
                <v-col>
                  <validation-provider
                    mode="eager"
                    :name="__('ProductQuantity')"
                    v-slot="{ errors, validate }"
                  >
                    <v-text-field
                      outlined
                      v-model="quantity"
                      :label="__('ProductQuantity')"
                      :error-messages="errors"
                      type="number"
                    ></v-text-field>
                  </validation-provider>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <validation-provider
                    mode="eager"
                    rules="required"
                    :name="__('Description')"
                    v-slot="{ errors, validate }"
                  >
                    <ckeditor
                      :editor="editor"
                      v-model="editorData"
                      :config="editorConfig"
                    ></ckeditor>
                    <span class="error--text v-messages__message">{{ errors[0] }}</span>
                  </validation-provider>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <validation-provider
                    mode="eager"
                    rules="required"
                    :name="__('productType')"
                    v-slot="{ errors, validate }"
                  >
                    <v-select
                      outlined
                      v-model="productType"
                      :items="productTypes"
                      item-text="name"
                      item-value="value"
                      :label="__('Product Type')"
                      persistent-hint
                      return-object
                      single-line
                      :error-messages="errors"
                    ></v-select>
                  </validation-provider>
                </v-col>
                <v-col>
                  <validation-provider
                    mode="eager"
                    rules="required"
                    :name="__('productBrand')"
                    v-slot="{ errors, validate }"
                  >
                    <v-select
                      outlined
                      v-model="productBrand"
                      :items="productBrands"
                      item-text="name"
                      item-value="value"
                      :label="__('Product Brand')"
                      persistent-hint
                      return-object
                      single-line
                      :error-messages="errors"
                    ></v-select>
                  </validation-provider>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <validation-provider
                    mode="eager"
                    rules="required"
                    :name="__('productImg')"
                    v-slot="{ errors, validate }"
                  >
                    <v-file-input
                      outlined
                      v-model="imageupload"
                      accept="image/png, image/jpeg, image/bmp"
                      prepend-icon="mdi-camera"
                      :label="__('Product Image')"
                      :error-messages="errors"
                    ></v-file-input>
                  </validation-provider>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions class="justify-end">
            <v-btn
              depressed
              :to="{name: 'products'}"
            >
              Hủy
            </v-btn>
            <v-btn
              color="primary"
              type="submit"
              :disabled="loading"
              :loading="loading"
            >
              Thêm mới
            </v-btn>
          </v-card-actions>
        </v-card>
      </form>
    </validation-observer>
  </component>
</template>
<script>
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
import * as APIProduct from '@/apis/products';
import { errorDetails } from '@/apis/uploadFile';
import { mapActions } from 'vuex';

export default {
  data: () => ({
    valid: false,
    name: '',
    code: '',
    price: '',
    quantity: 1,
    originPrice: '',
    imageupload: null,
    loading: false,
    description: '',
    editor: ClassicEditor,
    editorData: '',
    editorConfig: {},
    productType: null,
    productTypes: [],
    productBrand: null,
    productBrands: [],
  }),
  mounted() {
    // call api list tupes
    this.fetchDataTypes();
    // call api list brands
    this.fetchDataBrands();
  },
  methods: {
    ...mapActions({
      successNotification: 'notification/success',
      errorNotification: 'notification/error',
    }),
    fetchDataTypes() {
      APIProduct.listTypes()
        .then((res) => {
          console.log(res);
          this.productTypes = res.data.map(item => ({
            ...item,
            value: item.id,
            name: item.name,
          }));
        });
    },
    fetchDataBrands() {
      APIProduct.listBrandss()
        .then((res) => {
          console.log(res);
          this.productBrands = res.data.map(item => ({
            ...item,
            value: item.id,
            name: item.name,
          }));
        });
    },
    async handleSubmit() {
      this.loading = true;

      const formImportFileFormObserver = this.$refs.formImportFile;
      // check validate
      const result = await formImportFileFormObserver.validate();
      // valid
      if (result) {
        const data = {
          name: this.name,
          codeSKU: this.code,
          price: this.price,
          originPrice: this.originPrice,
          quantity: this.quantity,
          description: this.editorData,
          productTypeId: this.productType.id,
          productBrandId: this.productBrand.id,
          files: this.imageupload
        };
        const formData = new FormData();
        // eslint-disable-next-line
        for (const key in data) {
          formData.append(key, data[key]);
        }
        formData.append('image', this.imageupload);

        APIProduct.add(formData)
          // eslint-disable-next-line no-unused-vars
          .then(() => {
            // turn of loading
            this.loading = false;
            this.$router.push({
              name: 'products',
            });
            this.successNotification({
              message: this.__('Create :resource successfully!',
                {
                  resource: this.__('product')
                })
            });
          })
          .catch(err => {
            // turn of loading
            this.loading = false;
            this.errorNotification({
              message: this.__('Create :resource failed!',
                {
                  resource: this.__('product')
                })
            });
            // set err
            if (err && err.data.errors) {
              // set errors from api for vee validate errors
              formImportFileFormObserver.setErrors(err.data.errors);
              this.scrollToError(err.data.errors, formImportFileFormObserver);
            }
          });
      } else {
        // turn of loading
        this.loading = false;
        this.scrollToError(formImportFileFormObserver.errors, formImportFileFormObserver);
      }
    },
    scrollToError(listErrors, observer) {
      const errors = Object.entries(listErrors)
        .map(([key, value]) => ({
          key,
          value
        }))
        .filter((error) => error.value.length)
        .map(({ key }) => key);
      if (errors && errors.length > 0) {
        this.scrollTo(observer.refs[errors[0]].$el);
      }
    },

    scrollTo(element, options) {
      setTimeout(() => {
        this.$scrollTo(element, options);
      }, 200);
    },
  }
};
</script>
