<template>
  <base-card class="pa-1">
    <v-card-title>
      {{ __(':resource info', { resource: __('user') }) }}
    </v-card-title>
    <v-card-text v-if="userInfo">
      <v-row>
        <v-col cols="4">
          <base-text-field
            :value="userInfo.id"
            :id="__('ID')"
            :label="__('ID')"
            readonly
          />
        </v-col>
        <v-col cols="8">
          <base-text-field
            :value="userInfo.name"
            :id="__('full name')"
            :label="__('full name')"
            readonly
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="4">
          <base-text-field
            :value="userInfo.username"
            :id="__('Username')"
            :label="__('Username')"
            readonly
          />
        </v-col>
        <v-col cols="4">
          <base-text-field
            :value="userInfo.email"
            :id="__('Email')"
            :label="__('Email')"
            readonly
          />
        </v-col>
        <v-col cols="4">
          <base-text-field
            :value="userInfo.email_verified_at"
            :id="__('email_verified_at')"
            :label="__('email_verified_at')"
            readonly
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="4">
          <base-text-field
            :value="userInfo.is_superadmin"
            :id="__('is_superadmin')"
            :label="__('is_superadmin')"
            readonly
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="6">
          <base-text-field
            :value="userInfo.created_at"
            :id="__('created_at')"
            :label="__('created_at')"
            readonly
          />
        </v-col>
        <v-col cols="6">
          <base-text-field
            :value="userInfo.updated_at"
            :id="__('updated_at')"
            :label="__('updated_at')"
            readonly
          />
        </v-col>
      </v-row>
    </v-card-text>
  </base-card>
</template>

<script>
import * as Auth from '@/apis/auth';

export default {
  name: 'UserInfo',

  title() {
    return this.__(':resource info', { resource: this.__('user') });
  },

  data() {
    return {
      userInfo: undefined
    };
  },

  mounted() {
    this.getUserInfo();
  },

  methods: {
    getUserInfo() {
      Auth.userInfo()
        .then((res) => {
          this.userInfo = res.data;
        })
        .catch();
    }
  }
};
</script>

<style scoped>

</style>
