<template>
  <router-view/>
</template>

<script>

const defaultLayout = 'default';
export default {
  name: 'App',
  computed: {
    layout() {
      return `${this.$route.meta.layout || defaultLayout}-layout`;
    }
  }
};
</script>>

<style lang="scss">
</style>
