<template>
  <div>
    <v-app id="inspire">
      <v-content>
        <v-container fill-height>
          <v-layout row align-center justify-center>
            <v-flex sm8 md5 xl4>
              <base-card class="card pa-0">
                <v-toolbar flat height="112px" class="cart-title bg-soft-primary pa-0">
                  <v-toolbar-title class="headline">
                    <v-row>
                      <v-col cols="7">
                        <v-card-title class="text-primary px-0 pt-3">
                          {{ __('Welcome Back !') }}
                        </v-card-title>
                        <v-card-subtitle class="text-primary px-0">
                          {{ __('Sign in to continue.') }}
                        </v-card-subtitle>
                      </v-col>
                      <v-col cols="5" class="flex-column">
                        <img
                          class="imgBg"
                          src="@/assets/img/background-login.png"
                          alt="background login"
                        />
                      </v-col>
                    </v-row>
                  </v-toolbar-title>
                </v-toolbar>
                <v-layout class="avatar bg-color pa-2" align-center justify-center>
                  <v-avatar size="40">
                    <img
                      src="@/assets/img/user.jpg"
                      alt="user image"
                    />
                  </v-avatar>
                </v-layout>
                <validation-observer ref="form">
                  <v-form @submit.prevent="handleSubmit" class="content">
                    <v-card-text class="input pa-0">
                      <v-layout row>
                        <v-flex v-if="message">
                          <base-alert type="error">{{ message }}</base-alert>
                        </v-flex>
                      </v-layout>
                      <v-layout row>
                        <v-flex>
                          <validation-provider
                            v-slot="{ errors }"
                            vid="email"
                            :name="__('Username')"
                            rules="required"
                          >
                            <base-text-field
                              v-model="email"
                              :label="__('Username')"
                              id="email"
                              type="email"
                              :error-messages="errors"
                            />
                          </validation-provider>
                        </v-flex>
                      </v-layout>
                      <v-layout row>
                        <v-flex>
                          <validation-provider
                            v-slot="{ errors }"
                            vid="password"
                            :name="__('Password')"
                            rules="required"
                          >
                            <base-text-field
                              v-model="password"
                              :label="__('Password')"
                              id="password"
                              outlined
                              :error-messages="errors"
                              :type="showPass ? 'text' : 'password'"
                              :append-icon="
                                showPass ? 'mdi-eye-off' : 'mdi-eye'
                              "
                              @click:append="showPass = !showPass"
                            />
                          </validation-provider>
                        </v-flex>
                      </v-layout>
                    </v-card-text>
                    <v-card-actions class="actions">
                      <v-layout row wrap>
                        <v-flex>
                          <base-btn
                            :loading="loading"
                            :disabled="loading"
                            block
                            color="primary"
                            type="submit"
                          >Đăng nhập
                          </base-btn>
                        </v-flex>
                      </v-layout>
                    </v-card-actions>
                  </v-form>
                </validation-observer>
              </base-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-content>
    </v-app>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import * as AuthAPI from '../../apis/auth';
import * as LocalStorage from '../../common/localStorage';

export default {
  name: 'Login',

  title() {
    return this.__(':resource page', { resource: this.__('login') });
  },

  head() {
    return {
      titleTemplate: 'Đăng nhập  | %s'
    };
  },

  data() {
    return {
      showPass: false,
      email: '',
      password: '',
      loading: false,
      message: ''
    };
  },
  methods: {
    ...mapActions({
      setUserInfo: 'auth/setUserInfo',
    }),
    async handleSubmit() {

      // check data send
      console.log('xxxxxx');
      console.log(this.email);
      console.log(this.password);

      const isValid = await this.$refs.form.validate();
      if (isValid) {
        // start loading
        this.loading = true;

        const {
          email,
          password
        } = this;
        if (email && password) {
          this.message = '';

          AuthAPI.login(email, password)
            .then((res) => {
              console.log('res.data', res.data.token);
              // 2. add localstorage
              LocalStorage.createToken(res.data.token);
              // 3. fetch user info
              AuthAPI.userInfo()
                .then((res) => {
                  this.setUserInfo(res.data)
                    .then(() => {
                      // 1. stop loading
                      this.loading = false;
                      // 4. redirect route
                      const fromPath = this.$route.query.from;
                      if (fromPath) {
                        this.$router.push(fromPath);
                      } else {
                        this.$router.push({ name: 'products' });
                      }
                    })
                    .catch(() => {
                      this.loading = false;
                    });
                })
                .catch(() => {
                  this.loading = false;
                });
              // // store user info
              // this.loginSuccess();
            })
            .catch(error => {
              // 1. stop loading
              this.loading = false;
              // // lear user info in state
              // this.loginSuccess();
              // 2. destroy token
              LocalStorage.destroyToken();
              // 4. show error
              if (error.status === 422 || error.status === 429 || error.status === 400) {
                const arrError = error?.data?.errors;
                if (arrError) {
                  arrError.email = this.__(arrError.email);
                }
                this.$refs.form.setErrors(arrError);
              } else {
                this.message = this.__(error?.data?.message);
              }
            });
        }
      } else {
        // turn off loading
        this.loading = false;
      }
    }
  }
};
</script>

<style scoped lang="scss">
.row {
  margin-left: 0;
  margin-right: 0;
}

.card {
  .cart-title {
    padding: 0;

    .headline {
      width: inherit;
      height: inherit;

      .row {
        height: inherit;
        margin-right: 0;
        margin-left: 0;

        .col {
          height: inherit;

          .imgBg {
            position: absolute;
            top: 0;
            right: 0;
            width: auto;
            max-width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .content {
    padding: 28px;
    margin-top: 38px;

    .input {
      //padding: 0;
    }

    .actions {
      padding: 0;
    }
  }

  .avatar {
    width: 72px;
    height: 72px;
    display: flex;
    border-radius: 50%;
    position: absolute;
    top: 86px;
    left: 20px;
  }
}

.my_css_login {
  background: unset;
}

.my_css_thought_line {
  position: absolute;
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: unset;
  padding: 0 20px;
}

.my_css_toolbar_title {
  position: relative;
  top: -30px;
  border-radius: 4px;
  color: white;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
  0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}
</style>
