<template>
  <div>
    <v-container class="px-7">
      <div class="wrap-content">
        <div class="content px-4">
          <v-row class="mt-12">
            <v-col>
              <v-radio-group v-model="radios" :mandatory="false">
                <base-radio label="Radio 1" value="radio-1"></base-radio>
                <base-radio label="Radio 2" value="radio-2"></base-radio>
              </v-radio-group>
            </v-col>
          </v-row>
        </div>
      </div>
    </v-container>
  </div>
</template>
<script>

export default {
  name: 'RadioDemo',
  data() {
    return {
      radios: false
    };
  },
};
</script>

<style scoped>

</style>
