<template>
  <div>
    <v-container class="px-7">
      <div class="wrap-content">
        <div class="  px-4">
          <v-row class="mt-12 " no-gutters>
            <v-col class="content ma-4 ">
              <base-card
                class="mx-auto"
                max-width="400"
              >
                <v-img
                  class="white--text align-end"
                  height="200px"
                  src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
                >
                  <v-card-title>Top 10 Australian beaches</v-card-title>
                </v-img>

                <v-card-subtitle class="pb-0">Number 10</v-card-subtitle>

                <v-card-text class="text--primary">
                  <div>Whitehaven Beach</div>

                  <div>Whitsunday Island, Whitsunday Islands</div>
                </v-card-text>

                <v-card-actions>
                  <base-btn
                    color="orange"
                    dark
                  >
                    Explore
                  </base-btn>

                  <base-btn
                    color="orange"
                    text
                  >
                    Share
                  </base-btn>

                </v-card-actions>
              </base-card>
            </v-col>
            <v-col class="  ma-4 ">
              <base-card
                class="my-auto"
              >
                <v-card-title class="px-0 pt-0">Default Form</v-card-title>
                <v-card-subtitle class="px-0">Basic form layout</v-card-subtitle>
                <v-card-text class="px-0 text--primary">
                  <base-text-field
                    label="Email"
                    id="email"
                  />
                  <base-text-field
                    label="Password"
                    id="pass"
                  />
                </v-card-text>

                <v-card-actions class="px-0">
                  <base-btn
                    color="success"
                    dark
                  >
                    Submit
                  </base-btn>

                  <base-btn
                    text
                  >
                    Cancel
                  </base-btn>
                </v-card-actions>
              </base-card>
            </v-col>
          </v-row>
        </div>
      </div>
    </v-container>
  </div>
</template>
<script>

export default {
  name: 'CardDemo',
};
</script>

<style scoped>

</style>
