<template>
  <v-app>
    <the-navbar/>
    <div class="xln-container">
      <v-scroll-y-transition mode="out-in">
        <v-container class="px-7">
          <div class="wrap-content">
            <div class="content">
              <slot/>
            </div>
          </div>
        </v-container>
      </v-scroll-y-transition>
    </div>
    <the-footer/>
    <v-snackbar
      v-for="(alert, index) in notifications.filter(item => item.showing)"
      :key="index"
      v-model="alert.showing"
      :timeout="alert.timeout"
      :color="alert.color"
      :style="`bottom: ${-index*100}px; top: unset`"
      top
      app
      right
    >
      <v-row
        no-gutters
        class="d-flex align-center">
        <v-icon
          v-if="alert.color==='success'"
          large
          class="pr-0"
        >
          mdi-check
        </v-icon>
        <v-icon
          v-else
          large
          class="pr-0"
        >
          mdi-close
        </v-icon>
        <v-col>
          <v-card
            elevation="0"
            :color="alert.color"
          >
            <v-card-title class="py-0">
              {{ alert.color === 'success' ? 'Thành Công' : 'Thất bại' }}
            </v-card-title>
            <v-card-text
              class="py-0 white--text font-weight-bold breakLine">
              {{ alert.message }}
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-snackbar>
  </v-app>
</template>
<script>
import { mapGetters } from 'vuex';
import TheNavbar from '../components/Layout/Navbar/TheNavbar.vue';
import TheFooter from '../components/Layout/Footer/Index.vue';
// import bottomHeader from '../components/bottomHeader/bottomHeader.vue';

export default {
  name: 'DefaultLayout2',
  components: {
    TheNavbar,
    TheFooter,
  },
  data() {
    return {
      snackbar: true
    };
  },
  computed: {
    ...mapGetters({
      notifications: 'notification/notifications',
    }),
  },
};
</script>

<style lang="scss" scoped>
.xln-container {
  padding-top: 50px;

  .container {
    min-height: calc(100vh - 50px - 36px);
  }
}

.breakLine {
  white-space: pre-line;
}
</style>
